[2015-11-13 17:27] fabiocaccamo opened #1 "README.md images"
![django-admin-interface_login](https://cloud.githubusercontent.com/assets/1035294/11152611/ea0369e0-8a33-11e5-8af2-cbbbd1fa8d4b.jpg)
![django-admin-interface_dashboard](https://cloud.githubusercontent.com/assets/1035294/11152620/f3ac9e30-8a33-11e5-9886-5772c219a634.jpg)
![django-admin-interface_themes_management](https://cloud.githubusercontent.com/assets/1035294/11152628/faeab95c-8a33-11e5-84c3-

[2015-11-13 17:27] #1 closed

[2016-02-09 17:11] alb3rto opened #3 "Django 1.9 support"
Hi,
In django 1.9 the admin theme was updated. This project support django 1.9? If not, do you plan to include support soon?

[2016-02-09 17:18] fabiocaccamo commented on #3
Actually the project has not been tested on Django 1.9 (I'm working with 1.8).
django-admin-interface uses the same base theme of Django 1.9 (as an external dependency) and as a plus lets you customize the theme appereance.

[2016-02-09 20:05] alb3rto commented on #3
I tried to use it directly with django 1.9 (just removing the 'flat' dependency) and got a `AppRegistryNotReady` exception. If I have some free time and there is not any PR yet, I will try to solve it.

[2016-02-10 13:36] fabiocaccamo commented on #3
In any case, since there is not much python code it will be easy to make it compatible with Django 1.9.

[2016-02-23 03:55] maxiplux commented on #3
hi my friend , thank you very much for you project , but do you have any idea to fix the problem on django 1.9 , i like your project is amazing . thanks

[2016-02-23 10:18] fabiocaccamo commented on #3
Hi @maxiplux ,
actually all my open projects are on Django 1.8.*, when I will have some free time I will test and fix for Django 1.9. In any case it's open source, feel free to fix it and send me a PR.

[2016-02-24 09:19] fabiocaccamo commented on #3
Hi @maxiplux  and @alb3rto ,
Please check `0.1.4` version for **Django 1.9 support**.
If you like this project share it, I think that few people know about it...

[2016-02-27 04:09] paolodina commented on #3
I confirm it works well with Django 1.9.2. Thanks for the very nice project.

[2016-02-29 20:30] paolodina commented on #3
Btw, I forgot to say that the homepage says Python 2.6, Python 2.7 as requirements, but I tried it in Python 3.4.3 and works fine.

[2016-03-01 11:03] fabiocaccamo commented on #3
I update the readme.

[2016-03-01 11:03] #3 closed

[2016-03-01 11:52] maxiplux commented on #3
my friend , thak you ver much for your amazing job , it's wonderful .

[2016-03-01 11:53] maxiplux commented on #3
one comment , the messages of the framework messages of django admin , would be possible set the css for it ?

[2016-03-01 12:02] fabiocaccamo commented on #3
Actually, the messages style is not overridden, but potentially any css could be changed...

[2016-07-25 19:18] ticklemepierce opened #4 "Image not loading"
Hello, my I am trying to change the logo and it is not working.  Is there a configuration I am missing?

Thanks

[2016-07-26 08:32] fabiocaccamo commented on #4
Hi, Which Django version are you using?
The file is correctly uploaded?
Could you check with another browser to exclude the possibility of a cache-related issue?

[2016-08-04 01:13] cereigido opened #5 "Django 1.10 error"
django.core.exceptions.SuspiciousFileOperation: The joined path ([...]/.virtualenvs/intranet/lib/python2.7/site-packages/admin_interface/data/logo-django.svg) is located outside of the base path component ([...]/media)

[2016-08-04 11:18] fabiocaccamo commented on #5
Hi @cereigido,
thanks for the report, I didn't tested yet this lib against Django 1.10.

The problem is that the default logo is attached as logo of the default theme from a 'data' directory of the lib: https://github.com/fabiocaccamo/django-admin-interface/blob/master/admin_interface/models.py#L88

I think the only solution is to use it as static file, have you any suggestion?

[2016-08-05 04:32] cereigido commented on #5
@fabiocaccamo,

Just setting file_name on django.core.files.File did the trick.

I sent a pull request with the fix.

[2016-08-05 08:40] fabiocaccamo commented on #5
@cereigido
I just merged your PR, and released 0.1.7 version on pypi.
Thank you.

[2016-08-05 08:40] #5 closed

[2016-09-07 14:38] abomariam opened #7 "Missing title"
In this file
 __django-admin-interface/admin_interface/templates/admin/base_site.html__
You forgot to override the title block which caused the admin site title to disappear.

You should add this block to the file
```{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}```

[2016-09-07 14:44] fabiocaccamo commented on #7
Each Theme has a "Visible" checkbox under the Title section.

[2016-09-07 14:47] abomariam commented on #7
This checkbox is showing the title inside the page body inside the branding block not the head title.

[2016-09-07 15:08] fabiocaccamo commented on #7
You are right, I forgot it.

This is how the block title should look like:

[code]

I will fix it as soon as possible.
Thanks

[2016-09-10 16:51] fabiocaccamo commented on #7
Fixed with 0.1.9, thanks for te report.

[2016-09-10 16:51] #7 closed

[2017-01-19 14:47] mapeveri opened #9 "Calendar bug"
Hi, when i click in day on the calendar, the console javascript display this message.

![image](https://cloud.githubusercontent.com/assets/6276555/22111093/d6ed0c72-de3c-11e6-9ac6-ddcfe8e2f2aa.png)

This is an error of theme or of django?

Thanks!

[2017-01-19 15:15] fabiocaccamo commented on #9
I think it's a Django error, could you retry after having removed admin-interface from installed apps?
Thanks

[2017-01-19 15:19] mapeveri commented on #9
Yes, it's a Django error. Thanks!

[2017-01-19 15:19] #9 closed

[2017-02-09 11:16] fabiocaccamo opened #10 "Related widget broken in long tabular inline"
![schermata 2017-02-09 alle 12 14 39](https://cloud.githubusercontent.com/assets/1035294/22781145/831d32f8-eec1-11e6-9282-8a9611943f4e.png)

[2017-02-09 11:19] #10 closed

[2017-02-09 11:19] fabiocaccamo opened #11 "Inline border bottom should not be rounded"
![schermata 2017-02-09 alle 12 18 45](https://cloud.githubusercontent.com/assets/1035294/22781257/fb1741b8-eec1-11e6-90f0-8ac432fbfce4.png)

[2017-02-09 11:24] #11 closed

[2017-02-09 13:27] fabiocaccamo opened #12 "Inlines bad delete buttons alignement"
![schermata 2017-02-09 alle 14 26 10](https://cloud.githubusercontent.com/assets/1035294/22785253/d3101d7c-eed3-11e6-9e5e-fe7308a47412.png)

[2017-02-09 13:45] #12 closed

[2017-02-09 13:46] fabiocaccamo opened #13 "Datetime widget broken in long inlines"
![schermata 2017-02-09 alle 14 45 13](https://cloud.githubusercontent.com/assets/1035294/22785882/762292ea-eed6-11e6-8142-ff060e710775.png)

[2017-02-09 13:49] #13 closed

[2017-03-09 17:15] vadviktor commented on #4
Hello @fabiocaccamo, I encountered this issue and I am not sure if it's my problem.
I use Django 1.10 (most recent to day) and get the following error when looking at Chrome Dev tools:

[code]

So I am running the server with `manage.py runserver`, dev mode and am getting the same 404 for the first time when it was trying to access the default svg icon. I uploaded my own but the routing is still m

[2017-03-09 17:45] fabiocaccamo commented on #4
@vadviktor have you followed step-by-step installation instructions in the README?

[2017-03-09 18:18] vadviktor commented on #4
@fabiocaccamo yes I added the apps, did the migrations and collected the static files. The linked urls.py is my main router and it's still a fresh project, there are no other advanced files yet.

Nothing changed by adding your additional settings:

[code]

[2017-03-09 18:20] vadviktor commented on #4
Do you think it makes a difference that I use Python 3.6? I see you "support" 3.4.

[2017-03-10 09:51] fabiocaccamo commented on #4
@vadviktor I don't think that the Python version makes the difference in this case.
I will do some tests as soon as possible.

[2017-03-10 10:29] fabiocaccamo commented on #4
@vadviktor I tested with this url conf and I got your same problem:
[code]
then I added static media urls and it worked:
[code]

[2017-03-10 10:30] vadviktor commented on #4
Thank you @fabiocaccamo, I can share my source code with you too (it's just a study project) if that would help you help me :)
Well, this issue is not critical or something, though I thought to be good to let you know. :)

[2017-03-10 10:31] vadviktor commented on #4
@fabiocaccamo We posted the same time, 🤣
Thanks, I have a look at it and come back to you ASAP. 👍

[2017-03-10 10:31] fabiocaccamo commented on #4
The logo files (original and newly uploaded too) are in an app dir admin-interface/logo because you have not set MEDIA_ROOT and STATIC_ROOT settings in your settings.py.
https://docs.djangoproject.com/en/1.9/ref/settings/#std:setting-MEDIA_ROOT

[2017-03-10 10:32] #4 closed

[2017-03-10 10:33] vadviktor commented on #4
@fabiocaccamo Thanks very much for the heads up! I'll let this thread know the results for future reference.

[2017-03-10 11:36] pyup-bot opened #14 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create seperate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2017-03-10 11:40] #14 closed

[2017-03-10 16:08] vadviktor commented on #4
I have set the `MEDIA_ROOT` and `MEDIA_URL` too as described for Django 1.10, but the logo only appears if I use the additional url setup:

[code]

I don't know much yet about how Django's url dispatching works, but I may come back to this when I tracked the issue down. 😞

[2017-03-10 16:25] fabiocaccamo commented on #4
Yes, that's correct.
The additional url setup is needed for development: https://docs.djangoproject.com/en/1.10/howto/static-files/#serving-files-uploaded-by-a-user-during-development

[2017-03-10 16:29] vadviktor commented on #4
@fabiocaccamo I hear you now :) Thank you very much for the help, I think I now understand the situation.

[2017-05-16 16:32] browniebroke opened #15 "More base themes"
This Django app is amazing, such a great idea. We have several sites running with Django and we are starting using it to avoid confusion between sites and environments (local/test/live...). For my use case, it would make this even easier to deploy if there were a few more themes built in.

I'm no designer so my first experimentations were a bit disappointing. I ended up with a theme inspired by [B

[2017-05-16 16:39] browniebroke commented on #15
Here is a preview:
![screencapture-localhost-8000-admin-admin_interface-theme-3-change-1494952716110](https://cloud.githubusercontent.com/assets/861044/26117454/883a454e-3a5e-11e7-9c81-65d2b3b13ab9.png)

[2017-05-16 17:05] fabiocaccamo commented on #15
Hi @browniebroke,
I'm glad that you like this app!

Yes, I already thought to support more default themes.
Feel free to send me some more themes specifying where the style comes from (such as Bootstrap docs).

I think that the roadmap could include:
- Support more default themes by default
- Improve documentation (add a video and more screenshot desktop and mobile)
- Add import/export for themes ?

[2017-05-16 17:59] browniebroke commented on #15
You can be, it's awesome 👍  Didn't see it at first

[2017-05-16 18:29] browniebroke commented on #15
Regarding the import/export, my first thoughts was to integrate with django-import-export, but it depends on tablib, which itself depends on a few things.

Otherwise, as a user, I like the way [it's done in Slack](http://slackthemes.net/). I think it could be emulated with a "quick import" action, like below:

![quick-import](https://cloud.githubusercontent.com/assets/861044/26121635/d82a03e2-3a6c

[2017-05-17 10:42] browniebroke opened #16 "Version 0.4.2 is incompatible with django-storages"
We deployed this on our live site today and it crashed our whole admin site, due to this change https://github.com/fabiocaccamo/django-admin-interface/commit/a09e13fb0070abcb9edac89060446e3aefdfa353#diff-e561f32039c364b52846f6a4931fd449R110

It crashing because we use S3 as media storage (from `django-storage`), which does not implement the `Storage.path` method, as per the Django base class docst

[2017-05-17 13:04] fabiocaccamo commented on #16
Using `self.logo.path` instead of `self.logo.url` caused logo re-creation on each theme call (if using the default theme).
Could you add a test case for `django-storages`?

[2017-05-18 09:01] fabiocaccamo commented on #16
Fixed in `0.4.3` version
(I quickly tested it on a project where I used `django-storages`)

[2017-05-18 09:01] #16 closed

[2017-05-18 09:11] browniebroke commented on #16
Cool, thanks!

[2017-05-24 10:50] fabiocaccamo commented on #15
Added Bootstrap and Foundation themes installable as fixtures, check the `0.4.5` version.

[2017-05-24 11:34] browniebroke commented on #15
Thanks, looks good. As far as I'm concerned I'm happy to close this, which was more about _how to_ add more rather than purely adding more :-)

[2017-05-24 11:34] #15 closed

[2017-06-08 20:48] cmc333333 opened #19 "Cache admin settings"
Each call to `Theme.get_active_theme` makes multiple database calls. Unfortunately, that's called in the `get_admin_interface_theme` template tag, which appears multiple times on each admin page render.

We should cache these calls at least per request to speed up performance.

[2017-06-09 08:29] fabiocaccamo commented on #19
You're right, thanks for the issue, I will fix it (per-request cache) as soon as possible.

[2017-06-09 10:24] fabiocaccamo commented on #19
You can upgrade to `0.4.6` version :)

[2017-06-09 13:11] cmc333333 commented on #19
Nice solution!

[2017-06-09 13:25] fabiocaccamo commented on #19
Thanks!

[2017-06-09 15:36] cmc333333 opened #22 "Avoid pinning dependencies (Discussion)"
Pinning dependencies to specific versions of upstream libraries is a good practice when we're writing an app, but not as useful when writing a library. If our dependencies are too strict, the users of our library may see a conflict with their own application (or another library).

Currently, we [pin](https://github.com/fabiocaccamo/django-admin-interface/blob/486bfa9aba0351b160de30f35077187847b10b

[2017-06-12 09:40] fabiocaccamo commented on #22
You are right, I would specify min-max bounds.

[2017-06-12 16:14] browniebroke opened #24 "Multiple copies of django-logo.svg created"
When using this library with `django-storages` and [`AWS_S3_FILE_OVERWRITE=True`](http://django-storages.readthedocs.io/en/latest/backends/amazon-S3.html?highlight=AWS_S3_FILE_OVERWRITE), the library creates (a lot of) copies of the image `django-logo.svg`. We had 20,000+ created in a few weeks time.

This `django-storages` setting is to make sure that an upload of a file will not override existin

[2017-06-12 16:22] fabiocaccamo commented on #24
Are you using the latest version of this lib?
The .svg was removed [here](https://github.com/fabiocaccamo/django-admin-interface/commit/8a9842c2196b3dbb0594ef2078d6d9b1516ac3f1), I think the multiple copies was created before.

[2017-06-12 21:22] alcfernandes opened #25 "The version 0.4.6 is not creating the "0006_bytes_to_str.py" migration file."
Hello.

The version 0.4.6 when it is installed is not creating the "0006_bytes_to_str.py" migration file. In the development environment this is not a problem, since the makemigration command generates the file. But I'm having problems in the production environment in Heroku, because it installs django-admin-interface during the deploy and the migrate command only runs the five available migration

[2017-06-13 08:32] fabiocaccamo commented on #25
Hi,
The version 0.4.6 does not include 0006_bytes_to_str.py migration file. It will be included in 0.4.7.
I will release it after having closed #22

[2017-06-13 09:50] #22 closed

[2017-06-13 09:51] fabiocaccamo commented on #25
@alcfernandes you can now upgrade to `0.5.0` version.

[2017-06-13 09:51] #25 closed

[2017-06-13 10:33] alcfernandes commented on #25
@fabiocaccamo, I did upgrade and everything is working fine now. Thank you very much!

[2017-06-20 07:47] fabiocaccamo commented on #24
@browniebroke if you have not any update about this issue I will close it.

[2017-06-22 13:26] browniebroke commented on #24
Hi, I sorry missed this comment. Let me check again I will get back to you in the coming day or 2.

[2017-06-23 10:33] browniebroke commented on #24
You're right, we recently upgraded from 0.4.4 to 0.5.0 and it appears that the problem is gone now.
Thanks

[2017-06-23 10:33] #24 closed

[2017-06-23 10:41] fabiocaccamo commented on #24
Good, thanks for the feedback.

[2017-08-16 15:25] dionysio commented on #19
hey @fabiocaccamo. I'm still seeing too many db calls even after the fix. I'm on version 0.5.1 with django 1.11.4. Can you look into it?

Here's a screenshot from debug toolbar: https://snag.gy/SI3ZO8.jpg

[2017-08-16 21:06] JakobGM opened #28 "Feature request: specify favicon"
It would be nice if it was possible to specify the favicon of the admin interface without extending any template.

Thanks,
Jakob

[2017-08-16 21:20] fabiocaccamo commented on #28
Sure, this feature will be available soon. There are 2 possibilities: add support for the old classic favicon file (16x16 / 32x32) or add support for all icons actually supported by different platforms (check http://www.favicomatic.com).
The second approach would be more complete and there are some django libs doing this job well so an integration with these libs would be the best choice.

[2017-08-16 21:28] JakobGM commented on #28
Great!

I have used [a similar service](http://www.favicon-generator.org) before. Just uploading a single high-res version of a favicon, and then letting the app generate the rest would be awesome.

But personally I would be more than satisfied by just having basic favicon support. 😄

By the way,
Thanks for a great app!

[2017-08-16 21:33] fabiocaccamo commented on #19
It's really strange, as you can see in the template tags file, the theme is stored as a request attribute. I will write a test for it, or if you can do it, it would be appreciated.

[2017-08-16 21:38] fabiocaccamo commented on #28
You are right, a simple favicon is better than nothing. 😄

Thank you Jakob!!

[2017-08-24 12:32] fabiocaccamo commented on #28
@JakobGM favicon support available with `0.5.2` version

[2017-08-24 12:32] #28 closed

[2017-08-24 12:32] JakobGM commented on #28
Great, thanks a lot, @fabiocaccamo!

[2017-08-24 12:34] fabiocaccamo commented on #19
@dionysio duplicated queries was caused by the get_active_theme method and not by the template tag, by the way it has been fixed and you can upgrade to `0.5.2` version (don't forget to run migrations when upgrading).

[2017-09-07 15:42] fabiocaccamo commented on #19
Multiple database calls if list_filter is present.

[2017-09-10 10:37] raratiru opened #29 "Custom base_site.html"
Thank you for this awesome KISS plugin!

I have a custom base_site.html, how can I make it work?

[2017-09-10 12:34] raratiru commented on #29
A solution I have found is [django-apptemplates](https://github.com/bittner/django-apptemplates).

Then, in my `base_site.html`, I added:

`{% extends "admin_interface:admin/base_site.html" %}`

Works great.

[2017-09-10 12:34] #29 closed

[2017-09-11 09:35] fabiocaccamo commented on #29
@raratiru I will add it to README. Thanks

[2017-09-11 09:50] fabiocaccamo commented on #29
https://github.com/fabiocaccamo/django-admin-interface/blob/master/README.md#faq

[2017-09-11 10:32] raratiru commented on #29
Awesome, thank you!

[2017-09-25 08:31] fabiocaccamo commented on #19
I investigated the problem and I discovered that the `admin_interface_theme` variable stored as request attribute in the template-tag doesn't persist if the template-tag is used in another template (in this case the `filter.html` template).

A solution could be to cache the value for 1 second to guarantee 1 query for each request.
@dionysio @cmc333333 what do you think about it?

[2017-10-02 08:29] fabiocaccamo commented on #19
@dionysio @cmc333333 if you don't partecipate actively to this issue I will close it.

[2017-10-02 13:46] cmc333333 commented on #19
I think a one-second cache is a bit inelegant. Perhaps a better long-term strategy would be to cache the value for days and clear that cache when the value changes? Using Django's [signals](https://docs.djangoproject.com/en/1.11/topics/signals/) would be a good strategy here. Using Django's [cache framework](https://docs.djangoproject.com/en/1.11/topics/cache/) would also allow users to swap out t

[2018-01-08 16:58] raratiru opened #30 "Related Modal not working when Clickjacking Protection is enabled"
When `django.middleware.clickjacking.XFrameOptionsMiddleware` [is used](https://docs.djangoproject.com/en/dev/ref/clickjacking/) the modal is blocked and never shows up.

I had to disable the header for the admin pages in order to make it work, although the default setting is `SAMEORIGIN`.

[2018-01-10 11:29] fabiocaccamo commented on #30
I use `django.middleware.clickjacking.XFrameOptionsMiddleware` but I can't reproduce this issue.

[2018-01-10 14:45] raratiru commented on #30
You are right ... I have a rather complicated setup and I have not tried to reproduce it in a fresh install of Django.

However, these are the versions of the applications I would consider relative:

Python 3.5.4
Django 1.11.9
django-admin-interface 0.5.9
django-admin-shortcuts 1.2.7
django-flat-responsive 2.0
django-flat-theme 1.1.4
django-tabbed-admin 1.0.3
django-apptemplates 1.4
django-decorat

[2018-01-10 15:02] fabiocaccamo commented on #30
Ok, could you try to don't override the admin templates and re-activate `django.middleware.clickjacking.XFrameOptionsMiddleware`?

[2018-01-10 18:44] raratiru commented on #30
I disabled `django-admin-shortcuts`, deleted the overridden files `base_site.html` and `index.html` but the issue still remains:

[2018-01-10 23:02] fabiocaccamo commented on #30
Could you check if you have in your nginx conf add_header X-Frame-Options DENY; and eventually comment it.

[2018-01-10 23:20] fabiocaccamo commented on #30
Could you check also if you have `X_FRAME_OPTIONS = 'DENY'` in your `settings.py`? If you have it, comment it...

[2018-01-11 16:37] raratiru commented on #30
Whoaaa!

You are very right:  `nginx.conf` ! 🥇

Thank you!

[2018-01-11 16:37] #30 closed

[2018-01-31 07:31] timgin opened #31 "I18n?"
Hi,

Are there immediate plans for internationalization?

[2018-01-31 08:36] fabiocaccamo commented on #31
@timgin frankly it's not planned, but it would be very easy to add internationalization support.

Is there some specific feature that you would need?

[2018-01-31 08:48] timgin commented on #31
@fabiocaccamo nothing special, just would like to have the app translated into Russian. I'll send a PR in a while.

[2018-01-31 08:48] #31 closed

[2018-01-31 15:00] fabiocaccamo commented on #1
![django-admin-interface-themes](https://user-images.githubusercontent.com/1035294/35629797-d6dd5db8-069f-11e8-87c8-d2f9662c60e6.gif)

[2018-01-31 15:07] fabiocaccamo commented on #1
![django-admin-interface-themes](https://user-images.githubusercontent.com/1035294/35630132-d3ad604c-06a0-11e8-98e8-67a14b7f6b1e.gif)

[2018-01-31 15:33] fabiocaccamo commented on #1
![django-admin-interface-themes](https://user-images.githubusercontent.com/1035294/35631521-64b0cab8-06a4-11e8-8f57-c04fdfbb7e8b.gif)

[2018-02-22 09:11] nyejon opened #33 "Form fields sizing and layout"
It would be nice if it was possible to customise the form field sizing and layout.

For example to autosize the fields based upon the fieldsets definition so everything looks neat and aligned. Is there a way to do this already?

[2018-02-22 09:32] nyejon commented on #33
For example: if I have the fieldsets like:

(Field1, Field2)
(Field3, Field4)
(Field5, Field6, Field7)
(Field8)

It would produce the layout as:

![image](https://user-images.githubusercontent.com/17871768/36530331-153715aa-17bb-11e8-8e77-53209ac3687d.png)

At the moment all of the fields with different types are different sizes etc so the layout when using fieldsets can look wonky as each field i

[2018-02-22 09:54] fabiocaccamo commented on #33
Thanks, I understand now.
Frankly I never had this problem because I never use more fields on the same line.
I think it is hard to handle all cases, just think to custom widgets...

[2018-02-22 12:40] nyejon commented on #33
Ok, so there is no way to add something like 'form-control' from bootstrap or similar? Kinda like the example:

http://getbootstrap.com/docs/4.0/components/forms/#form-row

Sorry, I'm not familiar with how the django admin lays things out and what would be involved to make it look a bit nicer... but without changing much. The other admin packages change so much and what I like about this one is it

[2018-02-22 13:34] fabiocaccamo commented on #33
The main purpose of this library is to improve the default django admin by offering customization and some other features.

Your needs are more related to the base style offered by `django-flat-theme`, so if you want to ask some improvements to it you should open an issue [here](https://github.com/elky/django-flat-theme).

[2018-02-22 13:35] #33 closed

[2018-06-02 18:11] cachitas opened #34 "'renderer' argument is required for future Django versions"
Using Django 2.1b1, the following error arises when accessing a theme change view.

[code]

As noted in 2.1 release notes:

[2018-06-04 10:33] fabiocaccamo commented on #34
Could you write a test case for this, please?

[2018-06-13 17:13] diogosimao opened #35 "Documentation for the django-admin-interface"
Is there any documentation for django-admin-interface? May I start one if there isn't?

[2018-06-14 08:49] fabiocaccamo commented on #35
@diogosimao actually there is only the README, I think it is enough, but if you want t start one it would be appreciated. Thanks

[2018-06-14 09:15] fabiocaccamo commented on #34
I understand, django-colorfield should be rewritten using a more modern color picker and with a test suite.

[2018-07-11 07:03] heiqs opened #36 ""pencil" icon not working"
Hi,
After adding django-admin-interface to the installed_apps, nothing happens when I click the "pencil" and "add" icons in a change form of django admin.

Django version is 1.11 and python 2.7

Thanks for help.

[2018-07-11 21:05] fabiocaccamo commented on #36
Have you followed step-by-step the installation instructions?

[2018-07-15 20:02] fabiocaccamo commented on #36
@heiqs any update?

[2018-07-21 10:30] fabiocaccamo commented on #36
@heiqs if you don't contribute I will close this issue.

[2018-07-21 10:43] heiqs commented on #36
Hi Fabio,

So sorry. Was busy with some private issues. I will update the issue soon.

Cheers,
Mohammad

[2018-07-24 09:50] zvolsky commented on #34
I have made PR for django-colorfield
https://github.com/jaredly/django-colorfield/pull/41.
Or django-colorfield can be dowloaded from
git@github.com:zvolsky/django-colorfield.git.
Or add manually new parameter(s): def render(....., renderer=None, **_kwargs)

[2018-07-24 13:01] fabiocaccamo commented on #34
@zvolsky thanks, I will release a `django-colorfield` minor update today.

[2018-07-24 23:45] fabiocaccamo commented on #34
@zvolsky released `0.1.15` version of `django-colorfield`

[2018-07-26 23:43] cachitas commented on #34
Just tested again and everything looks fine. tyvm

[2018-07-26 23:43] #34 closed

[2018-08-10 20:56] djpretzel opened #37 "Use modal for search dialog of raw_id_fields, too"
- modal for add/edit and other popups is very nice
- currently the popup to search records for raw_id_fields widget (opened via the magnifying glass icon) still uses the old popup
- it would be rad if it worked the same way!

[2018-08-13 12:01] fabiocaccamo commented on #37
@djpretzel thanks for the report, I will fix it as soon as possible.

[2018-08-31 13:04] #36 closed

[2018-08-31 13:48] fabiocaccamo commented on #37
You can install `0.7.0` version to use this feature.

[2018-08-31 13:48] #37 closed

[2018-09-04 16:52] manoantares2 opened #38 "Logo image not showing"
I'm new to django, I installed and applied the USWSD theme on my site, but the logo image is not showing and when i enter the editing page for the theme and click on the link for the logo, this error mesage shows up: "Theme with ID "3/change/admin-interface/logo/akua%b65YP.gif" doesn't exist. Perhaps it was deleted?", i tried to change the static folder to various locations on the settings.py but

[2018-09-06 08:10] fabiocaccamo commented on #38
Did you see the default logo before uploading your one?
I see that your logo name contains some encoded character, try to rename it using alphanumeric chars only, then re-upload it.

[2018-09-10 10:10] roderik333 commented on #38
@fabiocaccamo No, it's not your job to make people read the django documentation but mentioning that MEDIA_URL and MEDIA_ROOT needs to be set and a means to serve files need to be enabled probably won't hurt productivity ;) Excellent app btw!

@manoantares2 https://docs.djangoproject.com/en/2.1/ref/settings/#std:setting-MEDIA_ROOT and https://docs.djangoproject.com/en/2.1/howto/static-files/#servi

[2018-09-10 10:34] fabiocaccamo commented on #38
@roderik333 you're right, but maintaining open source repositories already requires time that is difficult to obtain and that nobody pays...

[2018-09-10 10:35] #38 closed

[2018-09-12 12:39] belonesox opened #39 "Custom logo does not work."
I tried to upload custom logo (``d.png``)

Result:
* File uploaded to [project dir]/admin-interface/logo/d.png
* On table ``admin_interface_theme`` logo="admin-interface/logo/d.png" (without slash)
* Browser tried to get logo as (and failed)
    /[ROOT_URL]/admin/[ROOT_URL]/[modelname]/admin-interface/logo/d.png
* Trying to get ``/admin-interface/logo/d.png`` → also fail.
Probably we should someho

[2018-09-12 15:50] belonesox commented on #39
I got that I have to setup MEDIA_ROOT and MEDIA_URL in settings.py

[2018-09-12 15:50] #39 closed

[2018-09-12 16:17] belonesox opened #40 "name in Theme model should be primary key, for idempotent deploy."
``name`` in ``Theme`` model should be primary key, for idempotent deploy.

Right now, primary key is autogenerated ``id``,
caused that each
[code]
duplicates some theme.

There should be no different themes with same name.

[2018-09-12 17:32] Luccasoli opened #41 "When inserting a new ForeignKey element into a form, the popup does not close"
Django 1.11
python 3.5.5

The popup only displays a load

[2018-09-13 09:09] fabiocaccamo commented on #40
Yes, actually if you run twice `python manage.py loaddata admin_interface_theme_bootstrap.json` you will have 2 themes loaded.

Once, pk(s) field was present in `xxxxx.json`, but they have been omitted to avoid pk collisions at `loaddata` time.

The question is:
Why you run loaddata multiple times for the same theme if you don't need it?

[2018-09-13 09:10] fabiocaccamo commented on #41
Could you check the console output please?

[2018-09-13 16:28] belonesox commented on #40
Because every deployment should be:
* authomated
* idempotent

Of course, it possible to make it idempotent (lot of ugly code on ansible to check if the theme exists in DB) by why?

[2018-10-03 14:05] leedsalex opened #42 "Related modal does not dismiss on popup response"
The related modal is not dismissing after a successful response.There is a null reference error to the `opener` object in the javascript console.

[2018-10-03 14:53] fabiocaccamo commented on #42
`python` and `django` version please.

[2018-10-04 18:48] leedsalex commented on #42
@fabiocaccamo
Python 3.7
Django 2.1.1
django-admin-interface 0.7.0
django-tabbed-admin 1.0.4

[2018-10-08 13:03] fabiocaccamo commented on #42
As you can see in `.travis` this lib has not been tested against `python 3.7` yet.

Maybe this id related to: [jQuery is upgraded from version 2.2.3 to 3.3.1](https://docs.djangoproject.com/en/2.1/releases/2.1/#django-2-1-release-notes).
I will investigate this problem as soon as possible.

If you find the solution, feel free to submit a PR.

[2018-10-10 15:04] fabiocaccamo commented on #42
Have you added `flat_responsive` or `flat` to `settings.INSTALLED_APPS`?

[2018-10-18 08:16] fabiocaccamo commented on #42
@leedsalex if you don't provide any feedback I will close this issue within a week.

[2018-10-23 16:13] BradleySteele opened #43 "[Question] What is the font used in the Django logo?"
![Django Logo](https://i.imgur.com/nJFdr0r.png)

What is the font used in the above? Is there an option to change the text or is it a static image?

[2018-10-23 16:32] fabiocaccamo commented on #43
@BradleySteele the django logo is an .svg image.
You can customize and show/hide both logo and title.

[2018-10-23 16:42] BradleySteele commented on #43
Do you know what the logo font is? Or perhaps a feature to change the logo text using that font would be awesome.

[2018-10-23 16:45] BradleySteele commented on #43
Oh I'm actually stupid, it's the django font - not one you've uploaded yourself.

[2018-10-23 20:38] leedsalex commented on #42
Hi @fabiocaccamo I will test it out first thing tomorrow morning. Sorry for not responding, the notifications got lost in my GitHub feed. And thank you for looking into this for me!

[2018-10-24 12:58] leedsalex commented on #42
@fabiocaccamo I still get the following error in the javascript console:
[code]

[2018-10-24 12:59] leedsalex commented on #42
Also, when running `collectstatic` two warnings are logged:
[code]
[code]

[2018-10-24 13:12] fabiocaccamo commented on #42
@leedsalex `admin_interface` overrides django admin files `admin/js/cancel.js` and `admin/js/popup_response.js` to replace popup windows with modals.

For this reason `admin_interface` must be placed before `django.contrib.admin` in `settings.INSTALLED_APPS`.

[2018-10-24 15:22] leedsalex commented on #42
@fabiocaccamo I have it setup that way, It is placed before it.

[2018-10-24 15:29] fabiocaccamo commented on #42
@leedsalex I found the problem, I just release `0.8.1` version, could you try it?
Be sure to refresh cached js files.

[2018-11-13 01:02] paolodina opened #44 "raw_id_fields issue"
Hi and thanks for this wonderful addon.

I have an admin class like this:

[code]
which results in
![screenshot_2018-11-13_01-53-35](https://user-images.githubusercontent.com/1157401/48383745-5e603f80-e6e7-11e8-9499-19e3fa81ed9d.png)

Clicking on the search icon I guess it should open a modal or the popup, but I get this error in Chrome console.
[code]
Django 2.1.3. Any idea?

[2018-11-13 09:19] #44 closed

[2018-11-13 10:16] paolodina commented on #44
works like a charm! :+1:

[2018-11-20 21:31] merwok commented on #40
I think there could be a simpler way:

- keep autogenerated ID
- define name as natural key
- dump fixtures with --natural-key option

[2018-11-20 21:34] merwok opened #45 "Add button to close modal"
Hello!  Thanks for this extension, it is very nice and works just as advertised.

A co-worker suggested that adding a close button to the modal (a small in a corner) would be good user interface!

(I am also used to pressing Escape to close modals, but maybe that would make it too easy to lose unsaved data)

[2018-11-20 21:42] merwok opened #46 "Install django-flat-{theme,responsive} only when needed"
With recent django versions, it is not necessary to install django-flat-theme and django-flat-responsive.  They could be removed from requirements, and either installed manually by people (with instructions in the docs), or maybe [extras](https://packaging.python.org/guides/installing-using-pip-and-virtualenv/#installing-extras) could be used for a more convenient install method.

[2018-11-20 21:45] merwok opened #47 "Clean up packaging"
Hello!  I noticed a few places where setup.py is doing a lot more work than required

- PyPI accepts markdown descriptions now: https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi
- setuptools lets you put most of the metadata in setup.cfg: https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files
- this method also handles reading the

[2018-11-21 09:50] fabiocaccamo commented on #47
Thanks for all suggestions, could you send a PR for all these improvements?

[2018-11-21 09:52] fabiocaccamo commented on #46
The ideal solution would be to install packages dynamically depending on django version installed, is this possible?

[2018-11-21 14:49] merwok commented on #47
Will do!

[2018-11-21 14:51] merwok commented on #46
No, the environment markers only include thinks like OS and Python version, not other dependencies.  I think the best you can get is an extra: `django-admin-interface[django09]` would depend on django 0.9.* and django-flat-responsive.

[2019-01-08 16:07] fabiocaccamo commented on #47
@merwok are you working on a PR for this issue?

[2019-01-08 16:19] merwok commented on #47
In truth I think that switching to flit could make life easier and would remove `setup.py`!

IMO compiling `.mo` files should be done by every PR that changes translations, or be one of the release tasks (done by a maintainer before releases).  Running lots of commands from `setup.py` is one cause for all the trouble that people have with setuptools.  I prefer small tools that do one thing well!

[2019-01-11 10:19] fabiocaccamo commented on #47
I don't know how like would be easier by removing `setup.py` :)
I agree, `.mo` should be compiled by PR.

[2019-01-11 12:42] marceltschoppch opened #51 "Missing migration in release 0.9.0"
Hi

I think there is a migration missing in the current release 0.9.0 (migration 0010 for altering some fields). Could you run makemigrations and create a new patch release 0.9.1 with it?

Thank you for your effort!

[2019-01-11 12:43] marceltschoppch commented on #51
[code]

[2019-01-11 14:09] #51 closed

[2019-01-11 14:13] fabiocaccamo commented on #51
@marceltschoppch sorry for the mistake.
`0.9.1` available on pypi.

[2019-01-11 14:15] marceltschoppch commented on #51
No prob. Thanks!

[2019-01-30 09:20] acegallagher opened #52 "migrate fails at "change_related_modal_background_opacity_type""
Hi there. Thanks for the great interface. I'm trying to migrate from a function setup with Python 3.6, Django 2.1.5, and admin-interface 0.9.1 . When I run migrate on my development computer I end up with the following traceback. I'm happy to help debug but the process of debugging if I can.

`  Applying admin_interface.0008_change_related_modal_background_opacity_type...Traceback (most recent cal

[2019-01-30 10:13] fabiocaccamo commented on #52
@acegallagher I think it is a postgres related issue.
Could you try to test it with another db?

[2019-02-05 17:16] Tberdy commented on #52
Hi, I got an old project using Django 2.0.7 and django-admin-interface 0.5.9.
After updating it to Django 2.1.5 and django-admin-interface 0.9.1, the same migration begin to fail to fail during pytest db creation and during migrate (when creating new db).
I'm using Posgresql 11.1.

[2019-02-06 11:22] nosanity opened #53 "Cancel button does not work"
Although commit https://github.com/fabiocaccamo/django-admin-interface/commit/e3811e26097dbcabd6289dc30fa871f6ccd84aaa fixes cancel button in case of modals, it seems to break that functionality for simple pages (like when you press delete button on object edit page and end up on confirmation page)

[2019-02-06 12:01] fabiocaccamo commented on #53
Could you describe me the steps to follow to reproduce the bug?

[2019-02-06 12:11] nosanity commented on #53
1. Open edit page for any object which is deletable (i.e. /admin/flatpages/flatpage/1/change/) and press delete button
   OR
   select object(s) on object list page (i.e /admin/flatpages/flatpage/), select delete action and press confirm button to the rigth of actions select box

2. You end up on delete confirmation page.
Bug: If you press "No, take me back" button bothing happens
Expected: button

[2019-02-06 16:01] #53 closed

[2019-02-07 09:56] fabiocaccamo commented on #52
@acegallagher @Tberdy I released a `0.9.2` version and added postgres to tox and travis, could you test it?

If the problem persists, could you write a test case which fails?

[2019-02-07 10:07] fabiocaccamo commented on #53
@nosanity thanks for the report, you can install `0.9.2` version.

[2019-02-07 10:09] nosanity commented on #53
thanks for the fast feedback

[2019-02-12 21:52] apecnascimento commented on #52
I have the same error with django 2.1.7 and django-admin-interface 0.9.2.

[2019-02-13 13:37] fabiocaccamo commented on #52
@apecnascimento could you retry after renaming the migration with a shorter name?

[2019-02-13 13:59] #46 closed

[2019-02-13 14:00] #35 closed

[2019-02-13 14:45] merwok commented on #46
Sorry I haven’t had time to look into this.
Is it still something interesting, or are you going to support only Django 2+ and this becomes irrelevant?

[2019-02-13 14:55] fabiocaccamo commented on #46
Actually support older django versions doesn't require any special effort, so I will not drop them.

I closed this issue only because it's not possible to install packages conditionally depending on django version installed.

[2019-02-18 22:23] decklord opened #54 "Relative or absulte path for logo and favicon"
Hi,

We noticed that the logo and favicon have to be hosted by the app itself.

Sadly we are running our django-admin site in a cluster, so if I upload the logo, it will be loaded on a certain machine, not the others, making the upload feature a bit useless. It auto scales, so machines are deleted and created.

We could include this pre-loaded in the cluster image, but it would be nice to have an

[2019-02-18 22:28] merwok commented on #54
But isn’t that a generic django issue, not specific to django-admin-interface?

If I have a dynamic cluster or instances on heroku, then I have to use django-storages to configure a persistent media file storage, independent of each instance’s filesystem.

[2019-02-19 10:26] fabiocaccamo commented on #54
@decklord an alternative url field could be easily added, but as suggested by @merwok you should use `django-storages` to configure a persistent media file storage.

How do you handle all other file uploads?

[2019-02-21 09:40] fabiocaccamo commented on #52
@merwok have you any idea about what is happening here?

[2019-02-21 13:50] fabiocaccamo commented on #52
I think that a test against migrations should be written, here a useful post about migrations testing:
https://www.caktusgroup.com/blog/2016/02/02/writing-unit-tests-django-migrations/

[2019-02-21 17:36] merwok commented on #52
The first problem is this:

Do you have postgresql logs to see what causes this?

[2019-02-25 21:21] merwok commented on #47
Hello!  Just a ping to say I still want to look into this.

I also have a couple of feature requests to write properly when I have some time + I would be interesting in writing the PRs.

[2019-02-27 10:50] #54 closed

[2019-03-07 06:14] deepam1803 opened #55 "Related modal does not close"
Whenever the save button on related modal is clicked, the new record is saved but the modal doesn't close.
<img width="1155" alt="screenshot 2019-03-07 at 11 43 26 am" src="https://user-images.githubusercontent.com/19245659/53935961-45343200-40ce-11e9-9e06-046da871a5a0.png">
Keeps on showing this

[2019-03-07 09:06] fabiocaccamo commented on #55
@deepam1803 could you tell me the version of:
- `python`
- `django`
- `django-admin-interface`

Could you check also in the browser console if there is any JavaScript error or useful log?

[2019-03-07 16:10] fabiocaccamo commented on #52
@acegallagher, @Tberdy, @apecnascimento if you don't partecipate actively, the issue will be closed in the next days.

[2019-03-10 13:45] deepam1803 commented on #55
django version 2.1.1
python version 3.5.4
django-admin-interface 0.9.3

[2019-03-11 10:26] fabiocaccamo commented on #55
@deepam1803 is there any log in the console?

[2019-03-13 12:55] deepam1803 commented on #55
Yes, I can close the modal after clicking outside. Also, there are no error logs. The post request that it does to update the values return code 200 response. The changes I have done in modal are also applied in the database.

[2019-03-13 13:56] fabiocaccamo commented on #55
@deepam1803 I just manually tested the following test cases:

- add related object in changelist
- change related object in changelist
- delete related object in changelist
- add related object in detail page
- change related object in detail page
- delete related object in detail page

I can't reproduce the error, does your test case match one case listed above or I could test something else?

[2019-03-14 01:21] merwok opened #56 "Environment colors are backward"
Hello!  I noticed the fun little favicon change in the latest release.

I used to do something similar with django-admin-env notice¹ before I found django-admin-interface.  However, the colors I configured went in the opposite directions than the ones here: blue or green for test/dev envs, orange for staging (be careful but not real site), red for prod (be careful! this is the important one).

¹ h

[2019-03-14 10:06] fabiocaccamo commented on #56
Hi @merwok,
as always thanks for your feedback and suggestions.

**About env colors:**
I added the colors in this order because clients sometimes continue to use the staging admin also after the site has been published and they tell "*I don't see changes*", so my idea was:
- **red** - this is the dev env, don't make changes here
- **green** - this is the right place to make changes

Now, I'm confu

[2019-03-14 14:09] merwok commented on #56
Honestly the big bar was a little intense!  Now I like it better with «staging» in the right info + I name the site «Blabla Admin — staging».  I think I would also like the favicon color (haven’t deployed that version yet), and ask my coworkers what they think.

My preference would be option 1.  Then all workflows are supported: dev and prod, dev/test/qa/staging/prod, blue/green deployments, dével

[2019-03-14 17:32] deepam1803 commented on #55
I am using djangi auto complete along with these. i am adding a  related object in changelist. i guess the problem is withnusing django auto complete field.

[2019-03-14 17:39] fabiocaccamo commented on #55
Could you try to remove django auto complete and check if the problem persists?

If we are 100% sure that the problem is caused by django auto complete I will do some tests to improve compatibility.

[2019-03-15 10:41] fabiocaccamo commented on #56
@merwok just another question: in the admin, the setting relative to the badge visibility in the favicon where should be added? in the favicon fieldset or in the env fieldset? Could you ask an opinion to your coworkers too?

[2019-03-15 19:04] merwok commented on #56
I chatted with my designer coworker.  The recommendation is to have all options to the Environment section:

- Environment: char field
- Color: color field, can be blank
- checkbox Visible in admin header
- checkbox Add marker to favicon

[2019-03-20 16:53] #56 closed

[2019-03-20 17:00] fabiocaccamo commented on #45
Added in `0.10.0` version.

[2019-03-20 17:00] #45 closed

[2019-03-21 09:36] fabiocaccamo commented on #19
@merwok do you know the cause of multiple database calls (actually 2) if `list_filter` is present?

I could easily fix this issue adding a `context processor`, but I would keep the zero-config setup too.

[2019-03-21 13:43] merwok commented on #19
list_filter where?  Do you have a code example?

About caching: django cache + signal to invalidate seems good.  In general, I like to implement caching in the manager, which is the interface between the code and the database.

(To follow django’s way, Theme.get_active_theme / set_active should be Theme.objects.get_active / set_active.  Saving one model instance should change one database record;

[2019-03-21 13:56] fabiocaccamo commented on #19
If the active theme has `list_filter_dropdown` enabled, a custom `dropdown_filter.html` template [is included in the filter template](https://github.com/fabiocaccamo/django-admin-interface/blob/master/admin_interface/templates/admin/filter.html#L7) and two queries are made to retrieve the active theme instead of just one.
You can check it quickly using the debug-toolbar.

About caching: I agree wi

[2019-03-21 15:22] merwok commented on #19
I don’t understand why including the admin_interface/dropdown_filter.html template causes a second DB request!

(My point was not about the naming of the static/class method, but about having them as method on a custom ThemeManager rather than the Theme model class.)

[2019-03-21 15:34] fabiocaccamo commented on #19
Yes, that's a really strange behavior.
That's ok, I misunderstood.

[2019-03-21 17:19] carlosmonari commented on #55
Hi my dearest friend,

when we use raw-id-field whith django-admin-interface, exist a error in the new window invoked to select a register. the new window is not closed after select a register.

this error occurr in all browser's (IE, Chrome, Firefox ...)

i use to develop:
django 2.1
python 3.7

[2019-03-21 17:22] carlosmonari opened #58 "raw-id-field whith django-admin-interface"
Hi my dearest friend,

when we use raw-id-field whith django-admin-interface, exist a error in the new window invoked to select a register. the new window is not closed after select a register.

this error occurr in all browser's (IE, Chrome, Firefox ...)

i use to develop:
django 2.1
python 3.7

[2019-03-22 10:42] fabiocaccamo commented on #58
@carlosmonari thanks for reporting the issue, it has been fixed in `0.10.2` version.

[2019-03-22 10:42] #58 closed

[2019-03-22 10:50] fabiocaccamo commented on #55
@deepam1803 are you using [django-autocomplete-light](https://github.com/yourlabs/django-autocomplete-light)?

[2019-03-22 12:55] carlosmonari commented on #58
Thank you so much!
This package is great to make skins for apps!
It's pleasure to help find bugs

Arrivederci.

[2019-03-22 13:34] fabiocaccamo commented on #58
Thank you @carlosmonari,
I'm really glad that many people appreciate this package.

If you have any idea about new features or integration with 3rd party packages just open a new issue.

[2019-03-22 18:41] merwok commented on #55
FTR I am using https://github.com/farhan0581/django-admin-autocomplete-filter (works with modern django autocomplete_fields) and there are no problem with django-admin-interface.

[2019-03-22 19:46] merwok opened #59 "Better releases"
- make sure to update translations before releases
- write a changelog
- write upgrade notes in the github release page

[2019-03-25 04:04] deepam1803 commented on #55
@fabiocaccamo  yes i am using django-autocomplete-light

[2019-03-25 10:08] fabiocaccamo commented on #55
@deepam1803 could you try to remove django auto complete and check if the problem persists?

[2019-03-25 11:29] fabiocaccamo commented on #55
@deepam1803 I just tested `django-autocomplete-light` with python 2.7 and 3.6 and everything works fine.
Could you install `0.10.1`, run `python manage.py collectstatic --clear --noinput` and check again?

[2019-03-26 11:13] fabiocaccamo commented on #55
@deepam1803 I did some tests with `django-autocomplete-light` on python 2 and python3, everything worked fine. Is it possible to check your project somewhere online?

[2019-03-26 21:58] coveritytest opened #60 "Logo not showing though MEDIA_ROOT and MEDIA_URL are set"
Unfortunately it does not run out of the box. I added

MEDIA_ROOT = os.path.join(BASE_DIR, 'admin_interface/public/media/')
MEDIA_URL = '/media/'

to settings.py, but the logo will be uploaded to

http://127.0.0.1:8000/media/admin-interface/logo/mylogo.svg

which leads to

[26/Mar/2019 21:55:52] "GET /media/admin-interface/logo/mylogo.svg HTTP/1.1" 404 2081

Do I have to adjust another setting? I'

[2019-03-26 22:12] merwok commented on #60
I don’t know if django will create the subdirectories `admin_interface/public/media`.

Why not have a more usual setting such as `MEDIA_ROOT = os.path.join(BASE_DIr, "media")` ?

[2019-03-27 07:38] coveritytest commented on #60
I did what you proposed, but it still doesn't find the logo. The GET request is still the same:

[27/Mar/2019 07:36:29] "GET /media/admin-interface/logo/mylogo.svg HTTP/1.1" 404 2081

The logo now is saved at media in the base dir, but I have the feeling that the URL resolution is failing here. Do I have to adjust the url.py respectively the urlpatterns?

[2019-03-27 09:38] fabiocaccamo commented on #60
@coveritytest this is a problem related to your [settings](https://docs.djangoproject.com/en/2.1/ref/settings/) and not to this package, btw these are my settings values:

[code]

[2019-03-27 13:34] #60 closed

[2019-03-27 15:51] coveritytest commented on #60
I'm using a fresh Django installation in a virtualenv without changing any settings or urls and it's not working, so it's a problem of the repo, because standard users are using the standard configuration and with this your repo doesn't work. Even with the settings you just provided it doesn't work.

[2019-03-27 16:26] fabiocaccamo commented on #60
@coveritytest this package uses media and static files as described in the `django` documentation.

This issue should be common to all users, so probably it is related to your setup.

Can you upload all other media files?
Have you tried to upload a `.jpg` or `.png`?

[2019-03-27 16:34] merwok commented on #60
I can confirm I don’t have these issues, not with default FileStorage locally and not with Boto3S3Storage on servers.

[2019-03-27 20:35] coveritytest commented on #60
Same problem with .jpg. Steps to reproduce:

mkvirtualenv admin-interface
pip3 install django
pip3 install django-admin-interface
django-admin startproject customized
cd customized/
code customized/settings.py (adjust INSTALLED_APPS, MEDIA_ROOT, MEDIA_URL, STATIC_ROOT, STATIC_URL)
python manage.py migrate
python manage.py collectstatic
python manage.py createsuperuser
python manage.py runserver

[2019-03-27 20:43] merwok commented on #60
Sorry, the collectstatic discussion was wrong, this is a bout media files.

On my server, the logo is served at `https://{id}.cloudfront.net/admin-interface/logo/logo_abcd.png`

The template tag does not use `static` but `{{ theme.logo.url }}`.

Are your other static files and media files ok?  It really seems that there is a problem in your settings, not in this lib.

Why does your MEDIA_ROOT use

[2019-03-28 09:35] deepam1803 commented on #55
@fabiocaccamo  I installed 0.10.1 and everything works fine now. Thanks

[2019-03-28 09:35] #55 closed

[2019-03-28 11:31] fabiocaccamo commented on #40
This has been fixed in `0.10.3` version, the solution is a little bit dirty but transparent.
- on `pre_save`, if theme `pk` is not set and another theme with the same `name` exists, just overwrite the existing one.
- `name` field is now **unique**

[2019-03-28 11:42] #40 closed

[2019-03-28 17:18] merwok commented on #40
So the behaviour is: if I import a theme, then customize it but don’t change its name, if I import again my data will be overwritten without any confirmation or warning?

[2019-03-28 17:50] fabiocaccamo commented on #40
Actually yes, but we could do also the opposite: if I import a theme, then customize it but don’t change its name, **if I import the same theme again it will inherit fields values of the existing one**.

I also added `test_fixtures.py`, you could write a test case which fails for this.

[2019-03-28 18:29] merwok commented on #40
I think it’s fine as long as the documentation is clear :)

Now the theme name is its identifier, and we should change the name to keep customizations.  It can be useful to be able to import the original theme again to compare the original with the custom one.

[2019-03-28 18:37] fabiocaccamo commented on #40
If you need a custom theme you should create a new theme and not edit an imported one, I will update the README

[2019-03-28 19:12] merwok commented on #40
Well I didn’t have the skill to create one from scratch, so starting from an imported them then changing options and images works great!

Now I also need to that I should change the theme name to ensure it’s preserved even if I re-import the original one.  I find the behaviour quite nice after all!

[2019-04-24 16:07] carlosmonari opened #61 "django-dynamic-raw-id whith django-admin-interface"
Hi again Fabio,

when we use a external package django-dynamic-raw-id (https://github.com/lincolnloop/django-dynamic-raw-id) whith django-admin-interface,

exist a error in the new window invoked to select a register.

the new window is not closed after select a register.

this bug occur like as described in March 21 (raw-id-field whith django-admin-interface issue #58)

this error occurr in all b

[2019-04-24 16:09] fabiocaccamo commented on #61
@carlosmonari thank you for reporting this issue.
I will fix the compatibility as soon as possible.

[2019-04-29 15:37] #19 closed

[2019-04-29 16:49] fabiocaccamo commented on #61
Fixed in `0.10.4`

[2019-04-29 16:49] fabiocaccamo commented on #19
Fixed in `0.10.4`

[2019-05-03 12:52] carlosmonari commented on #61
Mr Fabio,

Again, good job.

i tested in my application and works correctly

thanks for this

[2019-05-06 18:24] pooyamb commented on #52
I was trying to test admin-interface, and the exact error happened to me, did you find any solution for this?
I tried with fresh startproject with same result, and I can confirm it has nothing to do with migration name.but If I remove migrations folder and do makemigrations, migrate works.
here is the log from postgres:
2019-05-06 22:28:48.650 +0430 [12780] LOG:  database system is ready to accept

[2019-05-06 19:02] merwok commented on #52
Searching for the exception code indicates hardware problem.

[2019-05-06 19:26] pooyamb commented on #52
Yes I saw that mailing list too, but I don't think that could be the case,
I think the problem comes from altering double precision to varchar, I tested the query directly in postgres and the result was same,
So it has nothing to do with this app in particular but removing the field and adding it again in migration can solve the problem.

[2019-05-07 09:20] fabiocaccamo commented on #52
@pooyamb could you fix migrations and send a PR?

[2019-05-07 14:21] pooyamb commented on #52
@fabiocaccamo I sent a PR

[2019-05-09 08:41] #52 closed

[2019-05-09 08:44] fabiocaccamo commented on #52
@pooyamb thank you, I think this problem should be reported to the django project.

[2019-05-09 09:27] fabiocaccamo commented on #52
@pooyamb you can install `0.10.5` version.

[2019-05-21 09:53] zuck opened #63 "Import external CSS"
At the moment, inline CSS are supported using the `css` attribute inside the JSON configuration file.

It would be great to have the possibility to also import an external CSS file.

[2019-05-21 10:14] fabiocaccamo commented on #63
@zuck thanks for the suggestion, I think it is an useful feature and it could be extended to external js too.
I will add it in the next release, if you have any other idea feel free to suggest it.

[2019-05-28 18:09] merwok opened #64 "Don't hard-code media type for favicon"
Hello!  The template hard-codes `type="image/x-icon"` for the link rel=icon.
Specs and browsers don’t require to use the Microsoft ICO file format; PNG is a very common choice I think.

If the attribute must be present (I forgot), it should be accurate depending on the image used.

[2019-05-30 09:26] fabiocaccamo commented on #64
Could you send a PR?

[2019-05-30 14:51] merwok commented on #64
It seems that `type` is not required for `link` element in HTML5.

I’ll do some tests and send a PR when I can!

(if there are browser compat issues, I’ll use the stdlib mimetypes module, I don’t think it’s great but it should be good enough.)

[2019-06-03 02:32] newpanjing commented on #59
I recommend a better theme: simpleui
[https://github.com/newpanjing/simpleui/](https://github.com/newpanjing/simpleui/)
or pip install:
[code]

[2019-06-03 08:58] newpanjing commented on #59
Why delete my comment?~ haha~😝

[2019-06-03 08:59] newpanjing commented on #59
Your theme is also good, great!

[2019-06-10 08:08] newpanjing opened #65 "how are you ?"
I recommend a django theme for everyone, very good.
Github:[https://github.com/newpanjing/simpleui/](https://github.com/newpanjing/simpleui/)

Install using pip:
[code]

[code]

[2019-07-18 06:09] #65 closed

[2019-08-12 16:51] carlosmonari commented on #61
Hi Mr. Fabio

In this version 0.10.5 the problem return.

Its possible correct this issue again ?

[2019-08-29 16:15] fabiocaccamo commented on #61
@carlosmonari nothing has changed from `0.10.4` to `0.10.5` that could have broken this functionality.
Could you please check:
-  `python` version
-  `django` version
-  `django-dynamic-raw-id` version

[2019-09-03 18:10] jforlenza-bnydc opened #67 "Reverse for 'set_language' not found"
I just installed this package on a new project im working on, howerver im getting the following error:

`NoReverseMatch at /admin/`
`Reverse for 'set_language' not found. 'set_language' is not a valid view function or pattern name.`

[Full Debug Info](http://dpaste.com/1RCFNCE)

[2019-09-03 19:59] fabiocaccamo commented on #67
You have not added i18n urls to urls.
Is your project multi-language?

[2019-09-04 09:27] fabiocaccamo commented on #67
@jforlenza-bnydc you can install `0.11.1`.

[2019-09-04 09:27] #67 closed

[2019-09-04 14:10] jforlenza-bnydc commented on #67
Thank you, that fixed the issue, I was using a boilerplate for experimenting and noticed it had some international options enabled

[2019-09-04 14:29] fabiocaccamo commented on #67
@jforlenza-bnydc the language-chooser to work correctly needs:

- `settings.USE_I18N = True`
- 2 or more languages listed in `settings.LANGUAGES`
- i18n urls and i18n admin urls:
[code]

[2019-09-25 13:00] lorenzomorandini opened #68 "Autocomplete select2 selected color doesn't change according to theme"

[2019-09-27 07:29] #68 closed

[2019-10-15 10:38] #61 closed

[2019-10-15 10:42] #59 closed

[2019-11-11 08:07] lorenzomorandini opened #70 "Interested in a sidebar?"
Hi, as title, would you be interested in a PR implementing a simple sidebar (sidemenu) for the admin? The idea would be to:

- Auto generate menù items for applications/models registered in admin (with the possibility to exclude them), based on user permissions
- Add custom menù items with custom urls

[2019-11-11 09:15] fabiocaccamo commented on #70
@lorenzomorandini it sounds great, if it is a generic solution that could be useful to many people the answer is absolutely yes.
Could you explain me better the use case?
Have you any screenshot or even better an online demo?

[2019-11-13 10:57] lorenzomorandini commented on #70
We already implemented it once but I re-looked into it to see if it can be done in a better way. Unfortunately, there doesn't seem to be a way of doing it without completely copying the "base.html" file, which I doubt you are fine with.

[2019-11-13 16:28] fabiocaccamo commented on #70
I think that replace the whole `base.html` for a new and optional feature is not the best choice.
Have you used it just once or in multiple projects? I would like to add only generic features that solves common problems.

[2019-11-13 16:43] lorenzomorandini commented on #70
More than once, it's just a configurable sidebar to display apps/models or custom links. Unfortunately it doesn't seem possible without overriding base.html completely. Feel free to close the issue

[2019-11-13 17:14] fabiocaccamo commented on #70
Ok, thank you for the feedback.

[2019-11-13 17:14] #70 closed

[2019-12-07 22:14] pablondrina opened #71 "Python 2/3 issue when upgraded to Django 3.0"
**Python version**
3.6.9

**Django version**
3.0

**Current behavior (bug description)**
<Sorry, 'novice coder' alert!>
I'm updating my project to Django 3.0, and then I've got this 2 errors when I've prompted the runserver command:
**1)**
  File "/home/pablo/.local/share/virtualenvs/backend-7xANml56/lib/python3.6/site-packages/admin_interface/models.py", line 7, in <module>
    from django.utils.

[2019-12-07 22:20] fabiocaccamo commented on #71
Update package to the latest version.

[2019-12-07 22:52] pablondrina commented on #71
Thanks for your reply. But unfortunately I've tried this and got the same
errors.

Em sáb., 7 de dez. de 2019 às 19:20, Fabio Caccamo <notifications@github.com>
escreveu:

[2019-12-07 23:16] fabiocaccamo commented on #71
Which package version have you installed?

[2019-12-09 09:22] fabiocaccamo commented on #71
@pablondrina any update?

[2019-12-09 11:50] pablondrina commented on #71
Version 0.12.0

Em seg., 9 de dez. de 2019 às 06:22, Fabio Caccamo <notifications@github.com>
escreveu:

[2019-12-09 13:37] fabiocaccamo commented on #71
It's impossible that you are using `0.12.0` version and see this error.

Download `0.12.0` version from [pypi](https://pypi.org/project/django-admin-interface/0.12.0/), open `models.py` and you will note that there is not the import that raises the exception you reported.
[code]
This issue is invalid, if you still have any problem please open another issue.

[2019-12-09 13:37] #71 closed

[2020-01-20 03:27] zeetec20 opened #72 "Favicon not show only in django admin"
where can I set up my favicon?
 I already write in base.html but not base admin, and nothing happened.
and I can only override the old admin base_site.html

[2020-01-20 07:17] fabiocaccamo commented on #72
You should set the favicon using the admin.

[2020-01-20 08:40] zeetec20 commented on #72
Thanks i can change my favicon

On Mon, Jan 20, 2020 at 2:17 PM Fabio Caccamo <notifications@github.com>
wrote:

[2020-01-20 08:42] #72 closed

[2020-01-20 15:37] #64 closed

[2020-01-20 20:20] merwok commented on #64
Thanks for merging the PR!  I didn’t do browser testing but it's in the spec after all, so we should be good.  Also easy to change (do the mimetype idea) if people report problems!

[2020-02-03 13:25] RCheese opened #75 "Settings django admin header"
How can I do this? It doesn't work with admin-interface module
[code]

[2020-02-04 16:35] fabiocaccamo commented on #75
You can customize the admin title using the theme model-admin, but it doesn't support what you need. Feel free to submit a PR.

[2020-02-21 16:58] fabiocaccamo commented on #75
Fixed in `0.12.1` version.

[2020-02-21 16:58] #75 closed

[2020-03-07 18:39] fabiocaccamo commented on #47
@merwok Still interested in writing a PR? Otherwise I will close this issue due to inactivity...

[2020-03-07 18:49] merwok commented on #47
Yes I’ll send something this month!

[2020-03-09 08:13] morlandi opened #76 "Popup for related models creation fires a javascript error when "Related modal" is inactive"
**Python version**
Python 3.7.6

**Django version**
Django 3.0.4

**Package version**
django-admin-interface==0.12

**Current behavior (bug description)**
The Popup for related models creation doesn't work when "Related modal" is inactive, due to this javascript error:

     Uncaught TypeError: Cannot read property 'replace' of undefined
        at windowname_to_id (:8000/static/admin/js/admin/Rel

[2020-03-09 08:24] fabiocaccamo commented on #76
@morlandi thank you for reporting this, I will debug and fix it as soon as possible.

[2020-03-09 08:39] morlandi commented on #76
Great ! I'm thinking about the possibility to provide a specific unit test, in order to further investigate this problem with previous versions of Django and/or  django-admin-interface.
Not sure if I can cope the the popup window, though ;)
Thank you for this great app !

[2020-03-09 08:44] fabiocaccamo commented on #76
@morlandi I quickly tested it, and it seems to be a **Django issue**. To verify this just disable admin interface package by set `USE_ADMIN_INTERFACE=False` in `settings` and you will see that the problem persists.

[2020-03-09 09:07] morlandi commented on #76
@fabiocaccamo  I already checked it ... with USE_ADMIN_INTERFACE=False it just works.
Let me check again an I'll send some screenshots on this.

Did you clear the browser cache after changing the setting ?

[2020-03-09 09:08] morlandi commented on #76
I can confirm that with the standard Django admin it is working:

<img width="1065" alt="Screenshot 2020-03-09 at 10 05 27" src="https://user-images.githubusercontent.com/299854/76198191-e9731c00-61ed-11ea-8cc6-09123102d137.png">

<img width="1025" alt="Screenshot 2020-03-09 at 10 05 39" src="https://user-images.githubusercontent.com/299854/76198198-ed9f3980-61ed-11ea-9f0d-3601eaeb0dae.png">

[2020-03-09 10:04] fabiocaccamo commented on #76
It opens the related popup, but when I save it, the popup doesn't dismiss correctly.

[2020-03-09 14:56] morlandi commented on #76
mhhh .. interesting .. this is really puzzling.

I started again from scratch, and must confirm that the problem doesn't show up with Django admin alone.
I made a screencast of what I did .. please have a look:

https://vimeo.com/396461322

[2020-03-09 15:02] morlandi commented on #76
The javascript includes .. django alone on the left, django + admin-interface on the right.
They look much the same .. must be some JS quirk ;)

![Screen Shot 2020-03-09 at 15 59 33](https://user-images.githubusercontent.com/299854/76227272-56eb7080-621f-11ea-9e6c-bfbf55dc7cce.png)

[2020-03-09 15:34] fabiocaccamo commented on #76
Thank you for the screencast, I found it very useful. I will investigate this issue.

[2020-03-17 13:17] isik-kaplan opened #77 "Interface per user"
Hey there!

I'm ending up implementing a a per-user theme every time I'm writing a new project (Yes, I use this project literally every time I use django haha).  I'm doing it by adding a foreign key to `Theme` from `User` model and changing the `get_admin_interface_theme` tag.

So I think in would be amazing to have an option such as:

[code]

[2020-03-17 13:40] fabiocaccamo commented on #77
Hi @isik-kaplan ,
I'm glad you like this package, I also use it in all projects!

This is the first time I hear about this usage, could you explain me in detail why you associate a theme to each user?

You are asking me to add a field which just extends the `ForeignKey`, is it correct?

[2020-03-17 14:04] isik-kaplan commented on #77
So that each user can create their own theme and use the admin panel with the colors they want, I know it wouldn't probably make sense for logo and favicon; but for the rest, it would make the admin panel more customizable for each user.

And if [this](https://github.com/cdrx/django-admin-menu/issues/16) happens, it would make even more sense to allow each user to customize the dashboard for thems

[2020-03-17 14:29] fabiocaccamo commented on #77
This is really interesting, personally I never had this need, but I'm open to new features that could be useful to many people.

Yes, the horinzontal menu would be very nice, now I'm waiting for a response, if I don't receive any feedback I think I will implement it by myself.

If you can send a PR including tests it would be appreciated.

[2020-04-02 13:44] fabiocaccamo commented on #76
@morlandi could you check if the `related-modal.js` script is included when the modal is disabled?

[2020-04-03 10:45] lorenzomorandini commented on #77
Kinda OT, @fabiocaccamo are you working on the horizontal menù already? If not I may have some free time this weekend to work on it and submit a basic PR

[2020-04-03 11:14] fabiocaccamo commented on #77
@lorenzomorandini I’m not working on it, if you could submit a PR it would be great!!!

[2020-04-04 10:51] morlandi commented on #76
No, `related-modal.js` is not included.
However, I noticed it's not included with `USE_ADMIN_INTERFACE = False` (that is: with the "ordinary" Django admin interface) either.

[2020-04-07 13:52] fabiocaccamo commented on #76
@morlandi I pushed the fix on master, could you test it with and without modal active?
If it is everything ok I release a new version on `pypi`.

[2020-04-07 14:12] fabiocaccamo commented on #76
This bug always existed, but nobody discovered it because nobody disable the related modal, why you did it? :D

[2020-04-08 09:09] morlandi commented on #76
Thank you @fabiocaccamo ... I will test it soon with both Django 2 and Django 3, and will give you a feedback on this

[2020-04-08 09:12] fabiocaccamo commented on #76
@morlandi I wait your feedback to release a new version, thank you.

[2020-04-08 09:27] morlandi commented on #76
Since you're asking ... I consider the related modal a TREMENDOUS IMPROVEMENT for UX, and honestly don't see any reason for disabling it.
I was just playing around with the flags provided by `django-admin-interface` to familiarise with it. Really great stuff, thank you for sharing.

In the past, I had the chance to use several admin interfaces: mostly django-grappelly, and occasionally django-suit

[2020-04-08 09:44] fabiocaccamo commented on #76
@morlandi thank you very much, I am very pleased by your feedback.

I love the default django admin, it works perfectly, but it lacks of personality and customization, clients don't like it... and neither me!
So I looked for alternatives, but for one reason or another I was always unsatisfied.
I realized that I didn't want something different, I didn't need a rewrite of the admin, but just somethi

[2020-04-08 09:52] morlandi commented on #76
I surely will ;)

[2020-04-11 08:47] morlandi commented on #76
@fabiocaccamo I did some tests in different contexts; these are the results:

| Django-admin-interface | Django 2.2.12 |  | Django 3.0.5 |  |
|------------------------------------|----------------------|------------------------|----------------------|------------------------|
|  | Related Modal Active | Related Modal Inactive | Related Modal Active | Related Modal Inactive |
| V0.12.1 | OK | FAIL

[2020-04-11 09:26] morlandi opened #79 "Customisable admin index"
This is more a suggestion than an issue.

I'm quite satisfied with the native Django admin, and always try to make as few customisations as possible, to prevent headaches later on when upgrading Django.

The only two aspects that bother me are:

1) the ugly "new window" for related models, which django-admin-interface already solves with a much more effective dialog
2) the admin index, which group

[2020-04-11 10:52] fabiocaccamo commented on #76
@morlandi thank you for having tested it well. You can upgrade to `0.12.2` version.

[2020-04-11 10:52] #76 closed

[2020-04-11 12:20] fabiocaccamo commented on #79
@morlandi thank you for this suggestion, I will take it into consideration.

The admin index is very very important and I already have several ideas to improve it, however I would like (as always) that all coming features prevent later issues (when upgrading Django).

Here a list of features for the admin index that I have in my notes:

-   possibility to **filter apps/models using a searchbox** (

[2020-04-12 17:55] morlandi commented on #79
django-baton is certainly a very interesting project, but too much for my needs. As you said, preventing later issues is crucial, and I tend to limit the role of the admin as much as possible.
For more advanced functionalities, I typically focus my efforts on the frontend.
That's what I appreciate in django-admin-interface.

Back to the admin index issue, I was thinking about a much lite approach,

[2020-04-13 01:49] merwok commented on #79
Changing the admin index is not simple.  I think that it’s not something that fits in the mission of django-admin-interface.  I’ve had these projects bookmarked to see if I find something I like:

- https://github.com/django-admin-tools/django-admin-tools
- https://github.com/maykinmedia/django-admin-index

[2020-04-13 12:53] fabiocaccamo commented on #79
@merwok I don't know the packages you mentioned, but looking at the documentation it seems that `django-admin-index` does exactly what @morlandi needs.

@morlandi I understand your needs, but I think that customizing the admin apps is out of scope for this package, could you try `django-admin-index` and give some feedback about it?

[2020-04-13 13:27] fabiocaccamo commented on #79
I could open some issues for new features and check how many users will vote for them. What do you think about it?

[2020-04-16 05:48] morlandi commented on #79
I know django-admin-index, an some time ago I adapted it for another project called django-admin-bootstrap. There is a pending PR here, to get an idea:

https://github.com/douglasmiranda/django-admin-bootstrap/pull/128

My point is: I try to limit the number of dependencies of my projects, expecially for the admin.
For this reason, in my most recent Django-based projects I decided:
1) to use djang

[2020-04-22 14:58] morlandi commented on #79
Hello @fabiocaccamo , I'm closing the issue ... since it's not an issue ;)
Thank you to both you and @merwok for sharing ideas.
Ciaooooo

[2020-04-22 14:58] #79 closed

[2020-05-01 21:14] jacoposartini opened #80 "Related modal doesn't work"
**Python version**
3.8.1

**Django version**
Version: 3.0.5
I also tried version: 2.2

**Package version**
Version: 0.12.2

**Current behavior (bug description)**
I use django-storages and Amazon s3 as backend storage for media and static files.

Everything works perfectly, except the related modal which is not shown, and instead there is always the default popup.

I did several tests and was amaz

[2020-05-01 21:43] fabiocaccamo commented on #80
Thank you for reporting this problem.

The related modal to work properly needs to override 2 js files of the django admin, it is for this reason that `admin_interface` should be listed before in `settings.INSTALLED_APPS`. It seems that `django-storages` ignores this order.

Could you try to investigate a little bit more? Maybe this is more a `django-storages` issue.

[2020-05-01 22:36] jacoposartini commented on #80
I forced the js files in question of admin_interface in the  admin static files folder.

The content of /static/admin/js/popup_response.js is the same of
https://github.com/fabiocaccamo/django-admin-interface/blob/master/admin_interface/static/admin/js/popup_response.js

but the related modal still not working :(

I'll do some more tests in the morning...

this kind of thing has never happened bef

[2020-05-01 23:46] fabiocaccamo commented on #80
In the admin, the active theme has the related modal checkbox checked?

Is there any error log in the browser console?

[2020-05-02 09:16] jacoposartini commented on #80
Looking in the console I noticed this warning "Loading failed for the <script> with source ...".

Opening directly the src link I reconstituted the error "SignatureDoesNotMatch" so it's a problem of how this file was handled by django-storages.

But I still can't explain why this happened only with these files...

Thank you for answering me so quickly and for making a django module that I really l

[2020-05-02 09:16] #80 closed

[2020-05-02 09:24] jacoposartini commented on #80
If something similar happened to someone, I solved it by setting in my custom storage class
`querystring_auth = False`

[2020-05-02 10:58] fabiocaccamo commented on #80
Thank you for the quick feedback, this is a really strange bug, I suggest you to open an issue on `django-storages`, maybe it could be useful to other people in future.

I’m really glad you like this package, after long time people seems having noticed it.

[2020-05-08 11:11] Duxa98 opened #81 "Calendar widget unexpected behavior in scrollable inlines"
**Python version**
Python 3.8.2

**Django version**
Django 2.2.12

**Package version**
0.12.1

In scrollable tabular inline calendar widget spawn not near the calendar button.

before scrolling:
![before_scrolling](https://user-images.githubusercontent.com/12458457/81399962-b76e2f80-9134-11ea-9b1d-e8e903d1280f.png)

after scrolling:
![after_scrolling](https://user-images.githubusercontent.com/1245

[2020-05-08 19:27] fabiocaccamo commented on #81
@Duxa98 thank you for reporting this.

Could you try to:
- remove `admin_interface` from `settings.INSTALLED_APPS`
- run `collectstatic`
- check if the calendar widget behavior is correct or not

[2020-05-12 09:39] Duxa98 commented on #81
@fabiocaccamo It has the same behavior without app, but only with low window size. In my case it works correct:
![](https://user-images.githubusercontent.com/12458457/81662410-2fdf3400-9446-11ea-9e1f-2f193fbfbcf7.png)

It looks the same when I remove admin-interface-fix.css from base_site.html

[2020-05-16 13:38] fabiocaccamo commented on #81
@Duxa98 thanks for reporting this.
I investigated the problem and the cause is this css rule in `admin-interface-fix.css`:
[code]
This rule is very useful to prevent whole body horizontal scroll when a tabular-inline has horizontal overflow, but with this rule django doesn't position the date picker and the time picker correctly (because it uses the absolute x position of the element).

You can av

[2020-05-18 05:17] MalikBagwala opened #82 "Unable to set empty title in Theme settings"
Setting title as empty String

![image](https://user-images.githubusercontent.com/23068029/82176581-cf903c80-98f4-11ea-81ce-c1423a4df3d7.png)

Results in the default title

![image](https://user-images.githubusercontent.com/23068029/82176616-e3d43980-98f4-11ea-8fa3-1fb2cd7115c4.png)

While I want to achieve this

![image](https://user-images.githubusercontent.com/23068029/82176651-00707180-98f5-11

[2020-05-18 12:23] fabiocaccamo commented on #82
This is the correct behavior, if you want hide the title just uncheck the `visible` checkbox.

[2020-05-18 12:24] #82 closed

[2020-05-19 18:55] merwok opened #83 "Unreadable text in autocomplete multi-selects"
**Python version**
3.8

**Django version**
3.0.6

**Package version**
0.12.2

**Current behavior (bug description)**
In a multi-select field using autocomplete (django admin feature), selected options are not readable.  Django’s autocomplete.css sets a white font color, django-admin-interface inline CSS defines white background color.

**Expected behavior**
Text should be readable :slightly_smilin

[2020-05-27 08:37] fabiocaccamo commented on #81
@Duxa98 any feedback?

[2020-05-27 08:38] fabiocaccamo commented on #83
@merwok thank you for reporting this, it will be fixed within the next release.

[2020-05-27 15:08] Hamza-Lachi opened #84 "admin css is not showing"
**Python version**
Python 3.7.7

**Django version**
3.0.6

in the admin, I think the CSS is not working when I deploy my whole site static is working but the admin static is not working

how can I fix this?

screenshots

![Screenshot from 2020-05-27 11-07-50](https://user-images.githubusercontent.com/53256322/83037945-6605e180-a00a-11ea-9015-1b747aa405ca.png)

my debug is false

[2020-05-27 15:10] fabiocaccamo commented on #84
@Hamza-Lachi have you run `python manage.py collectstatic`?

[2020-05-27 15:12] fabiocaccamo commented on #84
@Hamza-Lachi the admin css is dynamic to allow customizations, so if you are deploying a static project it doesn't work.

[2020-05-27 15:13] Hamza-Lachi commented on #84
yes, i do

[2020-05-27 15:13] Hamza-Lachi commented on #84
You have requested to collect static files at the destination
location as specified in your settings:

    /home/django/emailv4/staticfiles

This will overwrite existing files!
Are you sure you want to do this?

Type 'yes' to continue, or 'no' to cancel: yes
Found another file with the destination path 'admin/js/popup_response.js'. It will be ignored since only the first encountered file is collec

[2020-05-27 15:16] Hamza-Lachi commented on #84
Sorry, I can't understand

can you please be clear

[2020-05-27 15:23] fabiocaccamo commented on #84
This package generates the css dynamically directly in the admin html, you can check it by looking the page source with the browser.

[2020-05-27 15:26] Hamza-Lachi commented on #84
@fabiocaccamo I changed the static root folder to static before I set that to static files now it's working

Thanks!

You Guys Are Awesome!

[2020-05-27 15:28] fabiocaccamo commented on #84
@Hamza-Lachi thank you very much!!

[2020-05-27 15:28] #84 closed

[2020-06-02 20:10] merwok commented on #83
Any date for that? :slightly_smiling_face:

[2020-06-02 20:16] merwok commented on #83
I notice now that the background color is not hard-coded to white, but uses theme → banner → background color, which seems strange.

[2020-06-03 08:42] Duxa98 commented on #81
@fabiocaccamo I place the datetime field at the beginning of the row, thanks for advice.

[2020-06-04 07:08] fabiocaccamo commented on #83
@merwok could you send a PR?

[2020-06-12 12:01] fabiocaccamo commented on #83
@merwok I just tested it with:
-  `Python 3.8.0`
-  `Django 3.0.5` and `Django 3.0.7`
-   Both default theme and custom theme

but I can't replicate the problem...

[2020-06-12 13:45] merwok commented on #83
Could you add a screenshot?

[2020-06-12 14:04] merwok commented on #83
Example with option `super` highlighted and invisible:
![multi-select](https://user-images.githubusercontent.com/635179/84511086-04917400-ac94-11ea-9b28-ebd91a66385a.png)

CSS:
![css](https://user-images.githubusercontent.com/635179/84511085-04917400-ac94-11ea-9309-1ad3340f9757.png)

[2020-06-17 10:53] fabiocaccamo commented on #83
@merwok I can't add it now, but I will do. In any case I tested it with both `ForeignKey` and `ManyToMany` fields without having this issue.

This is my test matrix I used:
browsers: chrome, safari, firefox (latest versions)
python: 3.8
django: 3.0.5, 3.0.7

What browser are you using?
Could you ask to someone else to test it?

[2020-06-17 10:58] fabiocaccamo commented on #83
@cmc333333 @cereigido @browniebroke could you please verify if you have this issue or not?

[2020-06-17 18:37] merwok commented on #83
I use Firefox, let me test with Chromium.

[2020-06-17 20:04] merwok commented on #83
Same result on Chromium.  But I realize that testing browsers does not make sense, as the problem comes from the CSS files!

Django CSS has a white text for the selected/highlighted option.
DAA adds a white background color (taken from `theme → banner → background color`): this could be removed?

[2020-06-18 15:57] chad250 opened #85 "Page Not Found error when uploading favicon/logo"
I'm hoping my issue is a simple one - when uploading a favicon or a logo for the interface, I get a 404 not found error. The target URL is:

http://mywebsite.com/uploads/admin-interface/logo/crest.png

And the content of the 404 error from Django is:

Using the URLconf defined in myapp.urls, Django tried these URL patterns, in this order:

[name='index']
myapp1/
myapp2/
myapp3/
admin/
The current

[2020-06-18 16:10] #85 closed

[2020-06-27 07:24] adavie1 opened #86 "Logo and favicon not found"
**Python version**
3.6.9

**Django version**
3.0.7

**Package version**
0.12.2

**Current behavior (bug description)**
Despite having the MEDIA_ROOT set correctly, I'm getting 404 errors. It' seems that the system is treating the image request as a URL request.
[code]
I suspect that I need to add something to urls.py to handle media files, but can't find any docs that say I should or how.

**Setti

[2020-06-27 16:26] merwok commented on #86
The `*_ROOT` settings tell django where to find files on disk (or in other storage), but you need more configuration to serve files.  See the docs linked in https://docs.djangoproject.com/en/3.0/ref/settings/#std:setting-MEDIA_URL

[2020-06-27 16:30] fabiocaccamo commented on #86
...and in your `urls.py`:

[code]

[2020-06-27 20:50] #86 closed

[2020-06-29 14:08] merwok commented on #63
Ping here!  I could try making a PR if that helps.

[2020-07-01 07:11] MalikBagwala opened #88 "Change Password form not visible in the admin interface (BaseUser)"
This is how the default django password field (BaseUser) look like
![image](https://user-images.githubusercontent.com/23068029/86213584-8c81e400-bb97-11ea-9b30-c773a02f462f.png)

While this is how the admin interface customizes it

![image](https://user-images.githubusercontent.com/23068029/86213773-d5399d00-bb97-11ea-9369-16c6ac543fe1.png)

as you can see there is no provision to change password,

[2020-07-01 10:44] fabiocaccamo commented on #88
I think that this issue is not related to this library, this library never changes the dom, so there could be only a wrong color, nothing more. Try to disable `django-admin-interface` and check if the problem persists.

[2020-07-01 11:02] fabiocaccamo commented on #63
@merwok as you can see [here](https://github.com/fabiocaccamo/django-admin-interface/blob/master/admin_interface/models.py#L249) there is an old unused field that in the past was used to store custom extra css.

Now the necessity seems to be to have the possibility to upload a custom css file and why not, also a custom js file.
To be very flexible the best solution would be to add an additional mo

[2020-07-01 11:29] MalikBagwala commented on #88
@fabiocaccamo

you are right. It seems I was extending the wrong model
**Before:**
[code]

**After:**
[code]

[2020-07-01 11:29] #88 closed

[2020-07-01 11:56] fabiocaccamo commented on #83
@carlosmonari could you check please if also you have this issue?

[2020-07-01 16:43] merwok commented on #63
I think I misunderstood the original request!

I don’t want to import extra CSS; I already do customizations that I need (mostly on object add/edit page) with extra JS and CSS in overriden `admin/change_form.html` templates.  What I’d like is to move all the admin-interface CSS from the HTML template into a CSS template, so that the HTML pages only need `link rel=stylesheet`.  It would make the so

[2020-07-02 21:17] carlosmonari commented on #83
i didn't reproduce this issue in my test

See my screen
![screen_test](https://user-images.githubusercontent.com/3496698/86409955-48263f00-bc90-11ea-9ddc-b104e84463e6.png)

[2020-07-08 04:54] MalikBagwala opened #89 "How to extend the `django-admin-interface` (insert custom elements, custom styling)"
Hello,

I would like to know how to extend the django admin interface look and feel (by adding custom HTML and CSS)

for eg.

## I want to insert and style simple text inside the `h1` header

![image](https://user-images.githubusercontent.com/23068029/86877652-eab54680-c104-11ea-971d-1bd9e2ff1144.png)

## Also for better context this is how my directory structure looks like

![image](https://user-

[2020-07-08 08:41] fabiocaccamo commented on #89
@MalikBagwala the purpose of this library is to simplify some common customizations, if you create a new theme you can change the admin title and/or logo. If you need to do something different you must [override the admin templates](https://docs.djangoproject.com/el/3.0/howto/overriding-templates/).

[2020-07-08 08:41] #89 closed

[2020-07-08 17:43] MalikBagwala commented on #89
@fabiocaccamo  Could you please ellaborate the process? even after countless tries I am  not able to do that. A detailed explaination will be highly appreciated.

[2020-07-09 13:57] merwok commented on #89
That’s really a Django question.  If the linked guide doesn’t help, maybe you could describe your problem in detail (with file layouts, what you want to see, what you see (output or error messages)) on StackOverlow and give me the link so that I can try to help you.

[2020-07-11 15:10] nabinkhadka opened #90 "Logo used in django admin is not working in production"
**Python version**
3.8

**Django version**
2.2.14

**Package version**
0.12.2

**Current behavior (bug description)**
Logo uploaded from django admin interface is not serving properly in production served by nginx. I am confused as why each page's logo has different URL. For example see few of the URLs it is requesting below:

Login page logo:
[code]

[code]

**Expected behavior**
Logo should be s

[2020-07-11 16:49] nabinkhadka commented on #90
I don't know why this is necessary, but I had to override the templates/admin/base_site.html as shown in screenshot.
![Screen Shot 2020-07-11 at 22 31 11](https://user-images.githubusercontent.com/6050613/87229284-993bde80-c3c6-11ea-91f7-583a0a53cb55.png)

[2020-07-11 21:03] merwok commented on #90
Have you configured media files properly?  If you have nginx, you want django to create links but nginx to serve them.  This is explained in the django docs, not specific to django-admin-interface.

[2020-07-12 13:20] nabinkhadka commented on #90
@merwok I am concerned why only logo has issue. Rest of the images work just fine.

[2020-07-12 21:59] ArpanKIIT2017 opened #91 "Related Modal not closing"
**Python version**
3.8.2

**Django version**
3.0.8

**Package version**
0.12.2

**Current behavior (bug description)**
Related Entry Modal not closing properly and not updating the master entry screen

**Expected behavior**
Related Entry Modal should close on save and update the master entry choice screen

[2020-07-12 22:28] merwok commented on #91
Do you have any warnings or errors in the javascript console?

[2020-07-12 22:35] merwok commented on #90
My point was that there is no setup specific to the logo; if you have media files configured properly, logo should work too.  Without more info it’s hard to see what issue you have and where it comes from.

[2020-07-13 12:36] fabiocaccamo commented on #91
Without error or warning info it is impossible to verify and debug the issue.

[2020-07-13 12:49] fabiocaccamo commented on #90
@nabinkhadka this library doesn't work differently if you are working on development or production environment.
If you need to manually add the initial `/` maybe your `MEDIA_URL` is not set correctly.
As suggested by @merwok you should check your [media settings](https://docs.djangoproject.com/en/3.0/ref/settings/#std:setting-MEDIA_URL).

[2020-07-13 12:49] #90 closed

[2020-07-20 08:11] #81 closed

[2020-07-20 08:25] fabiocaccamo commented on #83
@merwok I understood the problem. The dynamic background color used by the theme is `background-color: {{ theme.css_header_background_color }};`, so I imagine you set a white color for your header.

[2020-07-20 08:27] fabiocaccamo commented on #91
@ArpanKIIT2017 any feedback?

[2020-07-22 09:25] #83 closed

[2020-07-22 09:26] #91 closed

[2020-07-24 14:42] merwok commented on #83
Just realized the same issue was also here with autocomplete list filters (https://github.com/farhan0581/django-admin-autocomplete-filter/).  The update fixes both, thanks! :shipit:

[2020-07-24 14:55] fabiocaccamo commented on #83
Perfect!

[2020-07-24 17:14] merwok opened #92 "Use conditional imports to avoid Django deprecation warnings"
force_text and ugettext* are deprecated, but they are needed for Python 2.

What do you think of going Python 3-only now that it’s 2020?
(It will always be possible to branch off an earlier version to make an important bugfix if needed.)

[2020-07-24 17:15] merwok opened #93 "Move CSS/JS from inline HTML to own templates"
I’d like to move all the admin-interface CSS from the HTML template into a CSS template, so that the HTML pages only need `link rel=stylesheet`.  It would make the source shorter (good for view source!) and let the browser cache the stylesheet (using the appropriate cache headers based on a checksum or version, for invalidation).

_(from https://github.com/fabiocaccamo/django-admin-interface/issue

[2020-07-27 13:53] fabiocaccamo commented on #92
@merwok I will support python 2 until it will be a limit to add new features or it will require too much effort to keep support it.

[2020-07-27 13:55] fabiocaccamo commented on #93
Yes, this would be a great improvement.
How do you plan to create the static files with dynamic css values?

[2020-07-27 21:44] merwok commented on #93
They would be django views with templates, not static files :slightly_smiling_face:

[2020-08-11 12:36] adavie1 opened #94 "Getting a security exception in the popup browser window"
**Python version**
3.6.9

**Django version**
3.0.7

**Package version**
0.13.0

**O/S version**
Linux Ubuntu 18.04 - Firefox 79.0

**Current behavior (bug description)**
![image](https://user-images.githubusercontent.com/3030402/89897371-7f81f700-dc11-11ea-825c-65f67ed18216.png)

**Expected behavior**
It used to work

[2020-08-11 12:42] adavie1 commented on #94
`X_FRAME_OPTIONS='SAMEORIGIN'` forgot to include this, problem solved.

[2020-08-11 12:42] #94 closed

[2020-08-18 20:36] merwok commented on #47
FYI I have started on this

[2020-08-19 14:07] fabiocaccamo commented on #77
@isik-kaplan could you provide your field and template tag implementation please?

Now that django 3.1 admin has the navigation sidebar, do you think that the horizontal menu could be still an interesting feature?

[2020-08-19 16:12] Maxamuss opened #96 "Related modal not closing on edit save and create"
**Python version**
3.7.7

**Django version**
3.1

**Package version**
0.13.1

**Current behavior (bug description)**
Say we have a new project with the simple model setup as follows:
[code]

In the Musician model admin form we have the favourite_song field as expected. When when using the Related modal, one opens for editing and creating Song object. Once you click save from the model, the loading

[2020-09-04 13:37] #92 closed

[2020-09-12 05:40] jayvdb opened #97 "initial_data.json refers to old fields like css_header_title_color"
Loading fixture `initial_data.json` fails.

[2020-09-15 08:01] fabiocaccamo commented on #97
@jayvdb you can upgrade to `0.13.5` version.

[2020-09-15 08:01] #97 closed

[2020-09-24 01:23] isik-kaplan commented on #77
Hey, sorry I've been rather busy lately, hadn't had a change to open a pr yet. I'll check the 3.1 interface and see if it actually works with field and get back to you as soon as I can.

[2020-11-02 14:36] qcoumes opened #99 "Creating a theme at startup and enabling it"
**Python version**
3.8

**Django version**
3.1

**Package version**
0.14.0

**Current behavior (bug description)**
I am creating a theme from `settings` in an `AppConfig.ready()`, the Theme models is correctly created with the right values. `active` is set to `True` (and is the only Theme ticked in the admin panel), but the Django's default one is the theme applied. I have to manually save the mod

[2020-11-03 09:55] fabiocaccamo commented on #99
@qcoumes the purpose of this application is to manage/customize themes using the admin.

As you can see [here](https://github.com/fabiocaccamo/django-admin-interface/blob/master/admin_interface/apps.py), some stuff is done on app ready, I think that your usage have some conflicts with it.

Your application is listed before or after `admin_interface` in `settings.INSTALLED_APPS`?

[2020-11-03 10:16] qcoumes commented on #99
@fabiocaccamo Thanks for your help

I figured it would be easier to use this application instead of modifying the django's template files.

It was listed before. I tried to list `admin_interfaces` first, but the same problem occurs.

I can upload a minimal example if you want.

[2020-11-03 17:04] merwok commented on #99
Just curious: is there a reason for your use of try: create / except: get vs. Theme.objects.get_or_create?

@fabiocaccamo I suppose the admin or admin form for Theme does something to ensure only one theme at a time is active, right?  So creating a new Theme with `active=True` is not enough!  (unless the something is done in Theme.save, which wouldn’t be a clean django practice — model methods sho

[2020-11-03 19:41] qcoumes commented on #99
@merwok  Mainly because I don't know which field is required for a new instance (I guess `name` is not enough). Also to avoid the loop over `kwargs` and the use of `setattr` if it is not needed.

[2020-11-04 09:50] fabiocaccamo commented on #99
@merwok the active theme is chosen [here](https://github.com/fabiocaccamo/django-admin-interface/blob/master/admin_interface/models.py#L53) and this method is called by different signals.

@qcoumes if you want write a PR covered by the relative test case I would be glad to merge it.

[2020-11-04 16:09] merwok commented on #99
@qcoumes I didn’t understand your reply!  You say you want to avoid loop over kwargs + setattr, but the code you pasted has that, and using get_or_create would avoid it, so it’s confusing :slightly_smiling_face:

@fabiocaccamo ah I see the get_active method is using `Theme.objects.filter(active=True).first()`, but in the absence of `order_by` method or `Meta.ordering` property on model it’s not ex

[2020-11-04 16:26] qcoumes commented on #99
@merwok I only loop over `kwargs` when modifying the `Theme` if it already exists, not when creating it. Won't `get_or_create` create a new instance every time one of the settings are modified?

@fabiocaccamo I can't find where the issue come from, I tried to manually set the cached theme by calling `set_cached_active_theme()`, a `print()` inside `get_cached_active_theme()` correctly displays my t

[2020-11-04 22:45] merwok commented on #99
Ah I misread the first time!  Indeed, you need [`update_or_create`](https://docs.djangoproject.com/en/3.1/ref/models/querysets/#update-or-create) for your case.

[2020-11-04 23:08] qcoumes commented on #99
@merwok Didn't know such method existed, this is indeed exactly what I need, thanks.

[2020-11-05 10:27] fabiocaccamo commented on #99
@qcoumes I think that the problem is that your theme is created before the default one, could you please check and tell me the ids of the two themes?

[2020-11-11 17:35] andrewhayes1979 opened #100 "Sticky list-filter, overlaying and floating left over the list contents in some mysterious circumstances"
**Python version**
3.8.3

**Django version**
2.2.17

**Package version**
django-admin-interface==0.14.0

**Browser/system**
Chrome 86.0.4240.183 (Official Build) (x86_64)
Mac OS X Catalina 10.15.7

**Current behavior (bug description)**

I have a medium sized project, it has maybe 50 models and associated admins.

I recently updated to the latest version of admin interface, there's a "list filter

[2020-11-11 17:38] fabiocaccamo commented on #100
Have you installed any admin library/plugin or custom admin js?
Could you check in the browser logs if there is something useful for debugging this?

[2020-11-11 17:50] andrewhayes1979 commented on #100
I've removed the meaningful data and gone back to the minimal admin (couple of columns, one-field filter)

It's reproduced here, I've saved out the web-page in full and zipped...that's all HTML, CSS and JS

The "Foundation" off-the-shelf theme is in use installed from your fixtures...don't think it's been changed from the defaults.

I do have a custom admin-app myself, but that's limited to provid

[2020-11-11 22:38] fabiocaccamo commented on #100
@andrewhayes1979 thank you for reporting this issue and for providing the minimal example. I now understand the cause of the problem.

The truth is that this feature is not very compatible with django versions < 3.1.2, because the admin DOM structure is changed a little bit.

You see the problem only on this model because there is not admin toolbar, just try to add `search_fields` in you model adm

[2020-11-12 09:00] andrewhayes1979 commented on #100
Hi

Yes, disabling the sticky flag is what I've done to fix the issue in the interim.

And yes, adding search_fields into the admin does make it behave (find another example attached)

[StickyFilterIssueWithSearch.zip](https://github.com/fabiocaccamo/django-admin-interface/files/5529370/StickyFilterIssueWithSearch.zip)

Thanks for the quick investigation!

[2020-11-12 12:29] fabiocaccamo commented on #100
@andrewhayes1979 you can upgrade `django-admin-interface` to `0.14.1` version.

[2020-11-13 08:47] #100 closed

[2020-11-17 11:55] avanguardigit commented on #93
to get this result I on the base .html I called the tags on my custom class
`
{% load i18n static admin_interface_tags %}
{% get_admin_interface_theme as theme %}

<style>

        .grey-skin .navbar {
            color: {{ theme.css_header_text_color }};
            background-color: {{ theme.css_header_background_color }};
        }

        .grey-skin .navbar.double-nav a {
            color: {

[2020-11-17 12:04] avanguardigit opened #101 "TabularInline scroll bar"
**Django version**
3.1

**Package version**
0.14.1

**Current behavior (bug description)**
there is an error in the management of "TabularInline".
the scroll bar is permanently shown
the css class is:

.admin-interface .inline-related.tabular fieldset.module {
    display: block;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    position: relative;
}

**Expected behavior**
I th

[2020-11-18 08:49] ChrisCrossCrash opened #102 "Change active page colors"
**Python version**
3.8

**Django version**
3.1.3

**Package version**
0.14.1

![admin_interface_issue](https://user-images.githubusercontent.com/40023417/99507111-058da680-2994-11eb-8a0c-dbc01ab39f11.png)

I can't change the font color of the active app listed on the left hand side ('.module .current-app .section') and the background of the active model in that app ('.model-signup .current-model')

[2020-11-21 15:53] fabiocaccamo commented on #101
Could you add a screenshot of the problem please?

[2020-11-23 22:10] XiangL5 opened #103 "Does not work with Django 3.1"
**Python version**
Python 3.8

**Django version**
Django 3.1.2

**Package version**
0.14.1

**Current behavior (bug description)**
Does not work at all and no clear documentation.

**Expected behavior**
work

[2020-11-23 22:30] fabiocaccamo commented on #103
Please provide more detailed informations or this issue will be closed.

[2020-11-25 11:33] #103 closed

[2020-11-25 12:52] avanguardigit commented on #101
![image](https://user-images.githubusercontent.com/33161350/100229581-c1b31800-2f24-11eb-8eb9-5e67fce8ac6c.png)
I found this problem with google crome

If I use edge, this is the resault
![image](https://user-images.githubusercontent.com/33161350/100229756-05a61d00-2f25-11eb-921e-4fe507c1c3d1.png)
but the cursor it's block, I can't move left or right (if I have any data)

I think the "problem" it'

[2020-12-10 10:03] qcoumes commented on #99
Sorry for the (very) late reply.

The default one is created before my theme. `Django`'s pk is `1` and `ISLRN` pk is 2.

[2020-12-10 10:28] qcoumes commented on #99
I actually found the problem while creating a minimum reproducible example.

Each color of the setting `settings.COLOR_PALETTE` only contains the hexcode, but without the starting `#`, so none of the colour field was valid. So my theme was correctly selected, but I guess it used the default theme color for these invalid field.

Then when I opened the admin's form, HTML5 colour field were smart eno

[2020-12-10 10:28] #99 closed

[2020-12-11 00:00] merwok opened #105 "Wasted space when not using sidebar"
**Package version**
0.14.1

**Current behavior (bug description)**
Pages don’t use the full width of the screen because of this rule:

[code]

**Expected behavior**

When `admin.site.enable_nav_sidebar` is false, don’t reserve 360px.

[2020-12-15 15:07] fabiocaccamo commented on #105
@merwok on which django version are you experiencing this problem?
`#main.shifted` selector means that there is sidebar and it is open.

[2020-12-15 15:34] JJMeijer commented on #105
@fabiocaccamo I also experienced this issue with Django 3.1.4. It's maybe more of a Django issue because they leave the default `.shifted` class in the template even when the sidebar is disabled by setting  `admin.site.enable_nav_sidebar` to false.

[2020-12-15 15:38] merwok commented on #105
django 3.1.4 too!

[2020-12-15 15:45] fabiocaccamo commented on #105
@merwok and @JJMeijer do you confirm me that the problem is related to the `admin.site.enable_nav_sidebar = False` setting?

[2020-12-15 16:46] merwok commented on #105
I wouldn’t put it that way.

It’s more that setting that attribute to false conveys that I don’t want the sidebar*, and the space being reserved nonetheless was a waste (especially on one list page where I needed to show many fields per record and wanted to avoid multiple lines per cell).

* (btw I don’t want the sidebar that because it messed up the login page a lot, so I didn’t even check if I l

[2020-12-15 17:11] fabiocaccamo commented on #105
My idea is that if the admin sidebar setting is false, a body class could be added and the css selector can be modified to work only if that body-class is not present.

[2020-12-15 18:36] merwok commented on #105
That sounds great for me!

I wonder if it would be unwanted for other people; not everyone used the default global AdminSite instance at `django.contrib.admin.site`.  I would be happy if I had to go and check a setting in the Theme admin page.

[2020-12-16 09:05] fabiocaccamo commented on #105
@merwok I suppose that if someone is using this package, he is using `django.contrib.admin.site` or do you mean something else?

[2020-12-16 14:54] merwok commented on #105
Well not necessarily, you can create your own instances of the AdminSite class, not all cases use the default global instance.

[2020-12-24 11:46] nilesh212 opened #106 "You can't run "python manage.py collectstatic""
I did follow your readme path for installing "django-admin-interface", but when I tried to run the command "python manage.py collectstatic" it asked me to create STATIC_ROOT.
So I was suggesting if you could add some more clarity to the command "python manage.py collectstatic".
I would really like to add something in the "Readme.md" file if you give permission, just to clarify why that "python man

[2020-12-24 11:50] fabiocaccamo commented on #106
@nilesh212 this is not related to this library, but to how `django` handles static files:
https://docs.djangoproject.com/en/3.1/ref/settings/#std:setting-STATIC_ROOT

[2020-12-24 11:50] #106 closed

[2020-12-24 12:04] nilesh212 commented on #106
but, if you just give more clarity on why the ``` python manage.py collectstatic``` won't work, that would be better.

[2020-12-24 20:05] merwok commented on #106
Fabio’s point is that this is a general Django thing, not something specific to this library, so this project can’t answer all Django questions in its readme.

[2020-12-25 03:58] nilesh212 commented on #106
I got that, thanks @merwok.
If you could tell me something about contributing to the open-source projects, that will be a great help for me.

[2020-12-25 04:45] merwok commented on #106
Oh that is a big question!

I guess the general advice would be to choose a project that you use and enjoy, that’s not too small (one or two maintainers are often too busy and not always experienced in welcoming beginners) and not too big (could have too many things going on, too many rules, etc), and find something that’s interesting to fix or add.

[2020-12-25 05:08] nilesh212 commented on #106
Well, that was a pretty big question and you answered it. Thanks, @merwok.

[2020-12-25 14:55] fabiocaccamo commented on #106
@nilesh212 "Necessity is the mother of invention", just put your hands on real projects, use existing libs to simplify the job, and all the rest will be more natural than expected.

[2020-12-29 09:00] morlandi commented on #105
In my case, I completely removed the "new" left menu from the admin index, since grouping Models by app doesn't fit my needs:

file "url.py":

    from django.contrib import admin
    admin.site.enable_nav_sidebar = False

I confirm the problem described by @merwok, with Django 3.1.4

![1](https://user-images.githubusercontent.com/299854/103272164-6c9f7180-49bc-11eb-928d-f175f7a1801c.png)

When re

[2021-01-04 12:58] fabiocaccamo commented on #105
@merwok and @morlandi - this should have been fixed with `0.14.2` version, could you check it?

[2021-01-04 12:58] fabiocaccamo commented on #101
@avanguardigit you can upgrade to `0.14.2` version.

[2021-01-04 12:58] #101 closed

[2021-01-04 12:59] #105 closed

[2021-01-04 13:00] fabiocaccamo commented on #102
@ChrisCrossCrash you can upgrade to`0.14.2` version, the active color is not customizable but I fixed the module link color.

[2021-01-04 13:06] #47 closed

[2021-01-04 15:29] merwok commented on #105
It works!  Thank you 👍🏽

[2021-01-04 16:55] morlandi commented on #105
Thank you @fabiocaccamo :clap:
It works ! :sunglasses:

[2021-01-04 17:26] ChrisCrossCrash commented on #102
That's great! Upgraded now. The active color isn't such a big deal. It was just kind of hard to read the yellow font against a lighter colored background.

[2021-01-06 22:58] fabiocaccamo commented on #63
@9mido see #93

[2021-01-06 23:03] fabiocaccamo commented on #63
@zuck the solution suggested by @merwok solves your problems?

If not, could you be more specific about what you would like to do but you can't do?

[2021-01-06 23:04] #102 closed

[2021-01-06 23:09] #63 closed

[2021-01-06 23:11] fabiocaccamo commented on #77
@isik-kaplan any update?

[2021-01-08 18:08] mwolff44 opened #108 "Theme is not applied with django-admin-index"
**Python version**
3.7

**Django version**
2.2

**Current behavior (bug description)**
Theme is not applied to horizontal menu using  django-admin-index

[2021-01-09 08:09] fabiocaccamo commented on #108
@mwolff44 I never used `django-admin-index`, feel free to submit a PR adding styling for this library.

[2021-01-19 15:31] sayeghr opened #109 "Multiple fields on a single line doesn't look right on mobile view"
**Python version**
3.8

**Django version**
3.1.2

**Package version**
0.14.2

**Current behavior (bug description)**
When multiple fields are set to be displayed on the same line, the responsiveness looks good for all window sizes EXCEPT mobile.

i.e.
`
fieldsets = (
        (None, {
            'fields': (('name_en', 'name_fr'), ('description_en', 'description_fr'))
        }),
    )
`

**Expecte

[2021-01-19 15:37] fabiocaccamo commented on #109
Have you tried without this library?

[2021-01-19 16:22] sayeghr commented on #109
@fabiocaccamo Just did. The same problem exists. So this is an issue in django-admin itself.

[2021-01-19 16:31] fabiocaccamo commented on #109
@sayeghr thank you. Are you using `django-modeltranslation` ?

[2021-01-19 18:03] sayeghr commented on #109
Yes I am.

[2021-01-19 18:06] fabiocaccamo commented on #109
@sayeghr I suggest you to use the [tabbed model admin](https://django-modeltranslation.readthedocs.io/en/latest/admin.html), it is nicely styled by this library :wink:

[2021-01-19 18:06] #109 closed

[2021-01-28 08:55] cpcpaicp opened #111 "Request for support 4-digit language code"
Thank you very much for your excellent work. Since Django replace zh-cn, zh-tw, zh-sg to zh-hans and zh-hant, more and more programmers have also begun to use these new language codes, but I found admin_interfaces have no support yet.
So, urls like '/zh-hans/admin/' are recognized as admin_nolang_url, which causes the language switcher not displayed.
It would be great if this feature could be adde

[2021-01-28 09:03] fabiocaccamo commented on #111
@cpcpaicp thank you for reporting this, it will be fixed soon.

[2021-02-01 22:20] havardox opened #112 "Basic image validation for logo/favicon"
Currently, a person can upload any file as a favicon or logo under theme settings. This could be a security issue if a malicious user gains access to the theme settings.

**Suggestion:** there should be some basic header validation to prevent users from uploading non-image files. Also should limit the size of the upload (i.e. under 3 MB).

[2021-02-01 22:31] merwok commented on #112
Would migrating the favicon field from FileField to ImageField do the job here?

[2021-02-01 22:53] havardox commented on #112
I think that would work. Although the file size would need to be manually checked.

[2021-02-01 23:54] merwok commented on #112
I’m not sure about that after all. Maybe using proper size for images is a documentation / teaching issue between developers and users of an admin panel, not a technical constraint.

If a malicious user is in your admin, you have bigger problems!

[2021-02-02 00:13] havardox commented on #112
Still, it would be nice if there were some basic sanity checks. E.g. if it's a internal tool and some idiot decides to upload a 2GB+ file. Stuff like that.

[2021-02-02 08:45] fabiocaccamo commented on #112
@havardox
- the favicon field is a FileField to support also `.ico` files
- to avoid the upload of 2GB+ file it is possible to use the [FILE_UPLOAD_MAX_MEMORY_SIZE](https://docs.djangoproject.com/en/3.1/ref/settings/#std:setting-FILE_UPLOAD_MAX_MEMORY_SIZE) django setting
- as @merwok said, if a malicious user is in your admin, probably you will have bigger problems

**I think that the best thing

[2021-02-02 14:48] merwok commented on #112
Ah, I didn’t think that it would be important to support the old ICO type for a modern website.

[2021-02-02 14:51] fabiocaccamo commented on #112
@merwok when I started to abstract this library in my existing projects I used `.ico` files, actually the `FileField` could be replaced by an `ImageField`.

[2021-02-02 14:59] merwok commented on #112
Turns out that django checks file extension only*, and relies on Pillow to determine all extensions supported by the system.  ICO is marked as always supported in Pillow docs.

(* but it also uses `PIL.ImageFile.Parser` to get the image’s dimensions, so maybe that step rejects fake images, or maybe not because RuntimeError is caught there.  needs to be tested!)

[2021-02-02 15:12] fabiocaccamo commented on #112
It was long time ago (maybe 8 years), but I remember that the .ico with ImageField raised an Exception, so I used a `FileField`.

[2021-02-03 13:42] fabiocaccamo commented on #108
@mwolff44 Third party applications can now be *optionally* styled according to `django-admin-interface` theme:
https://github.com/fabiocaccamo/django-admin-interface#add-theme-support-to-third-party-libraries

[2021-02-03 13:46] mwolff44 commented on #108
@fabiocaccamo thanks a lot !

[2021-02-03 13:46] #108 closed

[2021-02-03 16:23] fabiocaccamo commented on #111
@cpcpaicp you can upgrade to the latest version.

[2021-02-03 16:23] #111 closed

[2021-02-07 22:56] merwok opened #113 "Sticky submit row should use 100% width"
**Python version**
irrelevant

**Django version**
3.1.6

**Package version**
0.15.2

**Current behavior (bug description)**
In an admin edit page with no sidebar + sticky submit row, there’s empty space on the left:
![djadint-width-bug](https://user-images.githubusercontent.com/635179/107161895-b2613980-696d-11eb-98cd-17f339043e4c.png)

**Expected behavior**
The row should use the full width of it

[2021-02-08 05:39] theSinner commented on #113
Hi @merwok

I think this bug is related to Django itself. Because the main tag should not have the `shifted` class in this situation.
I sent a [pull request](https://github.com/django/django/pull/13986) to the Django project

[2021-02-08 10:22] #113 closed

[2021-02-09 14:56] avanguardigit opened #114 "error with version >0.15"
**Python version**
3.7

**Django version**
3.1.3

**Package version**

I have try to update to 0.15.3 but this version give me some problem.

ERRORE: la colonna admin_interface_theme.form_submit_sticky non esiste
LINE 1: ..."admin_interface_theme"."recent_actions_visible", "admin_int... ^

I have try 0.15.0 , 0.15.1, 0.15.2 with the same resault, with the versione 0.14.2 all work correctly.

[2021-02-09 14:59] fabiocaccamo commented on #114
You must just run `python manage.py migrate admin_interface`.

[2021-02-09 14:59] #114 closed

[2021-02-18 13:21] saymoncoppi opened #115 "Translation issue"
# Hello @fabiocaccamo!
Tks for your great work on this project.

I realized that maybe I got an issue with the translations.
Could you take a look at that or gimme instructions to fix it?

Even if the "language_chooser" is enabled I couldn't see the options to change the language.

The translations are working since I've already edited files:

## settings.py

MIDDLEWARE = [
    'django.middleware.

[2021-02-18 13:35] fabiocaccamo commented on #115
@saymoncoppi have you set `settings.USE_I18N = True`?

[2021-02-18 13:47] saymoncoppi opened #116 "Add custom img to login page"
# Hello @fabiocaccamo !!!
I wanna share another idea to build additional settings on the theme editor.
- Add an option to pick a bigger/different image to apply at the login page;
- Add an option to remove the title beside the image at the login page;
- Add the language picker at the login page

[2021-02-18 14:05] saymoncoppi opened #117 "Foldable-admin"
Hello @fabiocaccamo
It is another feature that I believe will work great if was builted-in admin-interface natively.
## Take a quick look:
https://github.com/deniskrumko/django-foldable-admin
... the original repo seems unmaintained

[2021-02-18 14:09] saymoncoppi commented on #115
Hello!!!
Yes... it's enabled:

USE_I18N = True
USE_L10N = True
USE_TZ = True

[2021-02-19 10:59] fabiocaccamo commented on #117
This is a nice feature that I already have on my mind.

[2021-02-19 11:03] fabiocaccamo commented on #116
@saymoncoppi regarding the first 2 options, could you share an image of the result you would obtain?

Adding the language chooser to the login page could be done, it surely requires some css because the login page doesn't have an header, so it must be placed using a fixed position.

[2021-02-19 12:56] saymoncoppi commented on #116
Hello @fabiocaccamo !!!
Something like this on a 1sr draft:
![image](https://user-images.githubusercontent.com/22059715/108506738-0df9c400-7298-11eb-9486-a2b236324a9c.png)

For a 2nd round maybe we could improve the img handler... I could write another day if you want.

About the language picker I thought  this way:
![image](https://user-images.githubusercontent.com/22059715/108507147-a3955380-729

[2021-02-19 12:58] saymoncoppi commented on #115
Hey, can we check this? It keeps hidden :(

[2021-02-19 13:00] fabiocaccamo commented on #116
@saymoncoppi what is the purpose of these images? Add them as body/navbar background images?
Frankly I'm not very convinced about the images, I think this starts to be a little bit out of scope, I had to think better about it.

I would place the language picker on top right, in the same position of the logged-in page.

[2021-02-19 13:04] fabiocaccamo commented on #115
This is really strange, you could debug this by doing:
- Open the admin interface package inside your virtualenv `lib/python3.?/site-packages/admin_interface/templatetags/admin_interface_tags.py`
- Add some logs before `return None` statements inside `get_admin_interface_languages` template tag function.

You should understand easily what condition is not satisfied.

[2021-02-19 14:04] saymoncoppi commented on #116
I just reorganize the img features... you already have 2 of 3. :P
- the logo was renamed to navibar since it is showed there
- favicon now is closer the other images
- And added the login img

but those things are just sugestion... You already done an awesome job!!!

[2021-03-02 08:44] atkawa7 opened #118 "Support Changing icons"
<img width="185" alt="image" src="https://user-images.githubusercontent.com/5673828/109621560-cc90d080-7b43-11eb-8ff4-8283e6009ed8.png">
<img width="376" alt="image" src="https://user-images.githubusercontent.com/5673828/109621775-12e62f80-7b44-11eb-9d10-4d60fdaa28d3.png">

Thank you for such an amazing library. Just wondering does DAI support overriding icons

[2021-03-02 08:48] fabiocaccamo commented on #118
@atkawa7 thank you!
Actually this is not supported and I've never had the need to change icons.
If you do that, feel free to submit a PR.

[2021-03-02 08:55] atkawa7 commented on #118
@fabiocaccamo Thank you for the response. I was  thinking like changing the color of the icons and not the actual icons

[2021-03-02 09:03] fabiocaccamo commented on #118
@atkawa7 ah ok, I understand!
Yes, I already wanted to do it, but the color is inside the svg, so it is not very easy to override it.
A workaround could be to override the icons color using a css filter like `filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);` and the rotating the hue to change the control the final color, but with this solution it is very hard to set the obtai

[2021-03-02 09:12] atkawa7 commented on #118
Thank you @fabiocaccamo. I am closing this as it is difficult to fix.

[2021-03-02 09:12] #118 closed

[2021-03-02 09:18] fabiocaccamo commented on #118
@atkawa7 as you prefer, if you any idea or solution re-open this issue.

[2021-03-04 05:52] atkawa7 opened #119 "Support Centering Logo"
<img width="424" alt="image" src="https://user-images.githubusercontent.com/5673828/109917657-5cf32080-7cbe-11eb-93f6-318f22969c2c.png">

[2021-03-04 08:38] fabiocaccamo commented on #119
Why? The admin layout is left aligned.

[2021-03-04 09:55] atkawa7 commented on #119
I just uploaded the logo but it seems the logo is left aligned. Is there an attribute to center logo

[2021-03-04 10:03] fabiocaccamo commented on #119
Yes, it is left aligned, there is not any option to center it.

[2021-03-04 10:06] atkawa7 commented on #119
I see. Thanks @fabiocaccamo.

[2021-03-04 10:06] #119 closed

[2021-03-19 18:04] mdtausifiqbal opened #121 "Django ModelChoiceField enhancement"
Please customize the ModelChoiceField, like that

- Input Text with input group of img of Object Chooser Instead of Add and Edit button.
- When A User Click on Choose Object, a modal should be appear with a list of Records *So that User Can Search Records or filter records to choose object*
- And Add and edit button should be Inside Modal of Object Chooser.

This feature can be found in CRM System

[2021-03-19 18:12] mdtausifiqbal commented on #121
![IMG_20210319_234003](https://user-images.githubusercontent.com/33699526/111824870-c1dc8680-890c-11eb-99cd-757fdeca98bf.jpg)

Just like in the screenshot.

[2021-03-19 19:08] merwok commented on #121
Can you say more about the use case?

With recent Django, related fields for example already have a search input with autocomplete.
Is this request for strings with known values?

[2021-03-20 03:19] mdtausifiqbal commented on #121
You can inherit the The Modal Dialog that i am saying from Just like table of records that was showing by Django in Model View Page.

This will be helpful for user experience, so that User can easily find the records in a large datasets rather than finding records in a dropdown list.

# What will User see in that
1. A Records Create and edit,and Search button in top of dialog
2. A Table of That Mo

[2021-03-20 19:04] merwok commented on #121
Sorry, I don’t understand the request, and it feels like you didn’t get what I said about the existing functionality of django’s [autocomplete fields](https://docs.djangoproject.com/en/3.1/ref/contrib/admin/#django.contrib.admin.ModelAdmin.autocomplete_fields) that already use a nice [interactive select](https://select2.org/getting-started/basic-usage) widget.

I’m not a project maintainer so I’ll

[2021-03-22 09:09] fabiocaccamo commented on #121
@mdtausifiqbal what you are asking for is already possible using using autocomplete fields. Please follow the @merwok advice.

[2021-03-22 09:09] #121 closed

[2021-03-23 12:56] fabiocaccamo commented on #115
@saymoncoppi any feedback?

[2021-03-26 17:21] fabiocaccamo commented on #115
Feel free to re-open this issue whenever you will have a useful feedback.

[2021-03-27 12:32] jeroenpeters1986 commented on #115
Hi @saymoncoppi I had the same issue, and thanks to @fabiocaccamo's helpful comment about the logs, I figured out that I needed to take a few extra steps and now it works!

To start off: my Django Version is 3.1, Python 3.9

I was missing the url additions. This is how I got it to work (currently, I only use the admin, no front-end view yet)

**urls.py**
[code]

**settings.py**
[code]

The Dutch l

[2021-03-27 22:36] fabiocaccamo commented on #115
@jeroenpeters1986 thanks for your feedback!

How did you managed multilanguage without having added i18n urls?

[2021-03-27 23:13] jeroenpeters1986 commented on #115
Hi @fabiocaccamo, the language was only just 'switched' with setting a new default `LANGUAGE_CODE`, so I could see all my translations, but at the moment there was no "user-way" to switch it. I think (but I didn't check at the moment) that the URLs were not affected (like it is now). I was just in too much of a rush I guess to do it the right way, which I think I did now :-)

[2021-04-06 12:27] bastiaan85 opened #124 "Support 3.2 dark mode, or properly override it"
**Python version**
3.8.9

**Django version**
3.2.0

**Package version**
0.16.0

**Current behavior (bug description)**
Using a desktop dark mode setting, observed by the browser through css property `prefers-color-scheme: dark, the fact that [3.2 includes a dark admin theme](https://code.djangoproject.com/ticket/31259) results in a black background when using the included themes. For example with

[2021-04-07 13:02] ChrisCrossCrash commented on #124
I'm also having this issue.

Just to show what @bastiaan85 is talking about, this is what the login page looks like with the default theme if your browser is set to preferring dark schemes:

![image](https://user-images.githubusercontent.com/40023417/113870299-5b83af00-97ba-11eb-9408-a6014c862486.png)

Could anybody figure out a quick workaround for until this gets a fix?

[2021-04-07 13:20] fabiocaccamo commented on #124
@bastiaan85 @ChrisCrossCrash you can upgrade to `0.16.1` version.

[2021-04-07 13:22] #124 closed

[2021-04-07 13:23] ChrisCrossCrash commented on #124
@fabiocaccamo That was fast! Thanks!

[2021-04-18 12:35] fabiocaccamo commented on #116
@saymoncoppi I close this issue as it is not my intention to add custom image support to the login page.

[2021-04-18 12:35] #116 closed

[2021-04-20 09:06] fabiocaccamo opened #125 "Add horizontal menu support"
References:
- [django-admin-index](https://github.com/maykinmedia/django-admin-index)
- [django-admin-menu](https://github.com/cdrx/django-admin-menu)
- #78

[2021-04-23 13:02] fabiocaccamo commented on #112
You can upgrade to `0.16.2` version.

[2021-04-23 13:02] #112 closed

[2021-05-06 20:56] fabiocaccamo opened #127 "Improve logo appearance on retina displays."
Using a jpg/png logo doesn't work very good.

Problem:
- if the logo is 1x it's fuzzy on retina devices
- if the logo is 2x it's too big on non-retina devices

Possible solutions:
- Add `logo_width` and a `logo_height` fields to the model, in this way it is possible to use a 2x logo and its size will be forced.
- Add `logo_2x` field and display it using `srcset="{{ theme.logo_2x.url }} 2x"`
- Css-

[2021-05-06 21:39] fabiocaccamo commented on #77
@isik-kaplan I close this due to inactivity, if you find the time to send a well tested PR it will be appreciated.

[2021-05-06 21:39] #77 closed

[2021-05-06 22:10] merwok commented on #127
Uploading two images for 1x and 2x resolution seems straightforward.

Pure CSS solution using media queries does not seem dirty to me!  But reducing small images doesn’t sound great, so an explicit image field or checkbox would be better.

In one project I have customized the login page to use a fixed size for the logo, which is a big image.  It looks nice on mobile, classic monitor or retina.

![

[2021-06-10 21:54] fabiocaccamo commented on #127
@merwok I am convinced that the best thing is to add 2 optional fields `logo_width` and `logo_height`, this solution would work very well even in case of .svg logos (I use them very often).

[2021-07-10 00:15] samjeckert opened #128 "Favicon fetching incompatible with django-storages S3"
The generated favicon URL is broken when the static resource is stored on S3 via django-storages. The code [here](https://github.com/fabiocaccamo/django-admin-interface/blob/ca71642ecfa483498da311c4196fe75344e62325/admin_interface/templates/admin_interface/favicon.html#L6) adds `?v={version}` to the end of the URL, but django-storages already has to add parameters to authenticate with S3. The resu

[2021-07-11 00:14] merwok commented on #128
Just a precision: this project is compatible with django-storages and S3, if you are using cloudfront (a public distribution) to host your images.

[2021-07-22 04:53] Sushang-Agnihotri commented on #67
project's urls.py :
urlpatterns = [
    path("i18n/", include("django.conf.urls.i18n")),
]

urlpatterns += i18n_patterns(path("admin/", admin.site.urls))

project's settings.py :
JAZZMIN_SETTINGS = {
    "language_chooser": True,
}

[2021-07-22 04:55] Sushang-Agnihotri commented on #67
[code]

[code]

[2021-07-22 08:57] fabiocaccamo commented on #67
@Sushang-Agnihotri this is not JAZZMIN.

[2021-07-22 23:36] C0deZLee commented on #128
Same problem here

[2021-07-28 08:11] bastiaan85 commented on #128
One option to resolve this may be to implement a custom `vstatic` tag to support a version parameter, like shown [here](https://stackoverflow.com/a/43762942). Eg quick and dirty:

[code]

or with proper url parsing

[code]

then in favicon.html

`<script type="text/javascript" src="{% vstatic 'admin_interface/favico/favico-0.3.10-patched.min.js' version %}"></script>`

[2021-08-14 20:09] tbhaxor opened #129 "Django dark mode is not working"
**Python version**
3.9

**Django version**
3.2.5

**Package version**
0.16.3

**Current behavior (bug description)**
Django default admin dark mode not working with django-admin-interface.

**Expected behavior**
I want to use the flat design provided by django-admin-interface but with dark mode

<a href="https://dashboard.polar.sh/fabiocaccamo/django-admin-interface/issues/129">
<picture>
  <sourc

[2021-08-15 08:13] fabiocaccamo commented on #129
@tbhaxor me too :), but this would require a lot of work and at the moment I have not the time for working on it.

[2021-08-15 23:07] tbhaxor commented on #129
Maybe i can help you. will check in upcoming weekend

[2021-08-16 07:32] fabiocaccamo commented on #129
- Many color fields must be added to customize all colors
- Every color field should must become 2 color fields, 1 for light theme and another for the dark one

[2021-08-16 11:04] tbhaxor commented on #129
@fabiocaccamo Could you guide me on setting up development environment

[2021-08-16 12:34] fabiocaccamo commented on #129
@tbhaxor just create a django project locally (you can follow the official django [tutorial](https://www.djangoproject.com/start/)) and install the package without pip to be able to modify it. For testing check [here](https://github.com/fabiocaccamo/django-admin-interface#testing).

[2021-08-16 13:30] merwok commented on #129
I wonder if duplicating all the colour fields is the way to go here.

Would all the dark fields be required?  Could be bothersome for a project that doesn’t need/want a dark mode. But if they are optional, then there could be fields left out by mistake, making an incomplete or unreadable theme.

What if Theme had a boolean field to indicate if it’s light or dark, and a one-to-one relation to theme

[2021-08-16 13:31] zaarsx opened #130 "autocomplete in filters for django 3+"
autocomplete in filters for django 3+

[2021-08-16 13:33] fabiocaccamo commented on #130
Please report the problem in a more detailed way or I will close the issue.

[2021-08-16 20:04] tbhaxor commented on #129
We can have a switch or some selector giving users to create two themes one for dark and another for light

[2021-08-25 08:30] fabiocaccamo commented on #130
@zaarsx I close this issue, feel free to re-open it following the issue template guidelines.

[2021-08-25 08:30] #130 closed

[2021-09-01 17:53] MNeipp opened #131 "Migrations Hang"
**Python version**
3.7.11

**Django version**
3.1.8

**Package version**
0.16.3

**Current behavior (bug description)**
When an app is setup with multiple databases, migration 0020_module_selected_colors hangs indefinitely until timeout. Likely due to the migration not using `db_alias = schema_editor.connection.alias`, and then on line 13 not including `.using(db_alias)` as part of the python scri

[2021-09-04 12:45] fabiocaccamo commented on #131
@MNeipp thank you for reporting this and for the PR.

Since this migration has been generated automatically by django, this seems to be a django bug, consider to report it to django project too.

[2021-09-04 12:48] fabiocaccamo commented on #128
I will just remove the version parameter, to avoid caching issues consider to use the built-in django [ManifestStaticFilesStorage](https://docs.djangoproject.com/en/3.2/ref/contrib/staticfiles/#django.contrib.staticfiles.storage.ManifestStaticFilesStorage).

[2021-09-04 17:51] merwok commented on #131
If we’re talking about #132 then the issue was in a RunPython step which (to the best of my knowledge) are written by hand.

[2021-09-05 00:33] MNeipp commented on #131
Merwok is correct; it has to do with how the RunPython operation was written. Thanks for accepting the pull request!

[2021-09-05 00:33] #131 closed

[2021-09-10 14:55] MNeipp commented on #131
@fabiocaccamo Any chance you could release this new update to PyPi? I've tried building it straight from the git master, but some of my dependancies really don't like that for some reason. Thanks!

[2021-09-16 12:36] fabiocaccamo commented on #131
@MNeipp sorry for the late reply, you can upgrade to `0.16.4`.

[2021-09-16 13:50] fabiocaccamo commented on #127
Feature available within `0.17.0` version.

[2021-09-16 13:50] #127 closed

[2021-09-22 21:06] rdurica opened #133 "TemplateDoesNotExist at /admin/admin_interface/theme/1/change/"
**Python version**
3.9.5

**Django version**
4.0.a1

**Package version**
0.17.0

**Current behavior (bug description)**
From django 4.0 package "colorfield" is not required and must be removed from INSTALLED_APPS. But with 4.0 is still needed see screen bellow:
https://github.com/fabiocaccamo/django-admin-interface/blob/a2329fdae567d3f5cf61ef0485f035d476cc6e83/admin_interface/settings.py#L26

![Sc

[2021-09-24 07:09] fabiocaccamo commented on #133
Fixed within `0.17.1` version.

[2021-09-24 07:09] #133 closed

[2021-09-24 07:09] fabiocaccamo commented on #128
Fixed within `0.17.1` version.

[2021-09-24 07:09] #128 closed

[2021-09-24 09:03] fabiocaccamo commented on #129
@merwok it is surely a smart solution, maybe a little bit overcomplicated.
I'm guessing if in this case there is really the need to have an automatic switch between light and dark themes, in my opinion there is not, I don't care very much about the trends.

I would start by adding the fields to customise all the theme colors, in this way it will be possible to have also dark themes (including some

[2021-10-21 17:32] huxaiphaer opened #135 "django.db.utils.ProgrammingError: relation "admin_interface_theme" does not exist"
**Python version**

Python 3.8.5

**Django version**
3.1

**Package version**
django-admin-interface==0.17.3

**Current behavior (bug description)**
    return self.cursor.execute(sql, params)
django.db.utils.ProgrammingError: relation "admin_interface_theme" does not exist

**Expected behavior**
It should run the migrations

[2021-10-21 20:06] merwok commented on #135
What command(s) do you run to get this exception?

Have you changed `INSTALLED_APPS` and run migrations?

[2021-11-08 13:52] saymoncoppi commented on #117
Hello Fabio!!!
Today I saw an improvement that fits with this old suggestion.
Beyond the foldable option could the django-admin-interface offer a way to reorder classes on tree menu. Take a look
https://stackoverflow.com/questions/398163/ordering-admin-modeladmin-objects

![image](https://user-images.githubusercontent.com/22059715/140752908-888c6d82-d1d1-41f5-8fa5-f9ac28ba6ac1.png)

[2021-11-09 17:25] saymoncoppi commented on #115
Hello Fabio!
I found the answer [here](https://github.com/fabiocaccamo/django-admin-interface/issues/67#issuecomment-884655334)

just adding this code to url.py

urlpatterns = [
    path("i18n/", include("django.conf.urls.i18n")),
]
urlpatterns += i18n_patterns(path("admin/", admin.site.urls))

Tks

[2021-11-11 04:39] saymoncoppi opened #136 "Language chooser style"
Hello Fabio!
Could you gimme a tip about how to overwrite the language_chooser.html (venv\lib\python3.6\site-packages\admin_interface\templates\admin_interface\language_chooser.html) and keep it this way below?

![image](https://user-images.githubusercontent.com/22059715/141237600-33f3a645-f856-453d-8700-5508fd871497.png)

I made these changes, but how to persist in a new enviroment? Manually agai

[2021-11-11 04:47] saymoncoppi commented on #136
Should I update the admin-interface.css and run **python manage.py collectstatic** again?

[code]

[2021-11-11 09:32] fabiocaccamo commented on #136
@saymoncoppi basically you need to customise the language-chooser css, I think the only thing you can do to persist changes is to override the template from you own application adding a `templates/admin_interface/language_chooser.html` file and injecting the css inside it, this file will override the `admin_interface` one.

Just for curiosity, why you need to change the language-chooser style?
May

[2021-11-11 12:02] saymoncoppi commented on #136
Hello Fabio!
Since I'm using a **minimalist style** on the admin_interface theme, removing borders and adjusting the font size/color it fits better to me.
Also maybe it is better for more people that prefer a non-distraction element at the top :)

Your idea about templates is the right way to do it. LOL
Sorry for my newbie question.

Ahhh! Another suggestion to new versions of admin interface on l

[2021-11-11 13:25] fabiocaccamo commented on #135
@huxaiphaer I close this due to lack of feedback, feel free to provide more useful informations and I will re-open it.

[2021-11-11 13:25] #135 closed

[2021-11-11 16:20] merwok commented on #136
Please don’t use country flags to represent languages: http://www.flagsarenotlanguages.com/blog/why-flags-do-not-represent-language/

[2021-11-11 17:17] saymoncoppi commented on #136
G

Great point! Tks for share... @fabiocaccamo discard the flags idea :)

[2021-11-12 14:27] foo290 opened #137 "Mongo DB migrations failing using Djongo"
**Python version**
3.8.10

**Django version**
3.2.8

**Package version**
0.17.3

**Current behavior (bug description)**
migration failing in mongo db, also Im using `Djongo` to integrate with mongo db

**Expected behavior**
Should have migrated sucessfully

**Here is the stack trace:**
[code]

[2021-11-16 14:11] asiffer opened #138 "CSS as FileField in `Theme` model"
Hello,

I have seen that the `Theme` model allow to "inject" raw css through its `css` attribute. However it is a TextField and it is not so easy to use in practice (for instance we need to inline the css code in the json fixture). I think it could be great to either turn this field into a FileField or to add a new FileField attribute like `css_file`. Of course I can help through a PR :)

[2021-11-16 17:47] merwok commented on #138
Would a textarea field work for you?  A file field is a bit heavy in my opinion.

[2021-11-17 07:58] asiffer commented on #138
Thank you for your reply!
I would prefer a file because it allows to easily add an css stylesheet in Theme. Obviously, It would play the same role as `css` attribute but the workflow would be a bit better: to maintain or update the Theme, I would merely have to edit a static css stylesheet rather than inlining all the css code. I do agree that it is a bit heavy but the counterpart is that we don't

[2021-11-17 08:58] fabiocaccamo commented on #137
@foo290 feel free to add mongo db to the test suite.

[2021-11-17 15:28] merwok commented on #138
Could you clarify if you’re talking about a CSS _media_ file (added with a file field in the admin) or a _static_ file (present in your source)?  Static file is already possible (I use that!), is easy to edit and is version controlled.  A media file does not seem so practical to me (you have to download it to view it, can’t see changes easily).

[2021-11-17 15:43] asiffer commented on #138
Oh I probably missed it! How do you use static file?

[2021-11-17 18:07] merwok commented on #138
For example, I have overriden the `admin/change_form.html` template to add custom behaviour and style for object edit pages with inline JavaScript and CSS.  I could move the CSS to its own file and use `<link rel="stylesheet" href="{% static "example_custom/extras.css" %}">`.

[2021-11-18 08:05] asiffer commented on #138
Ok, I understand but it means that I have to modify the templates you have developed. Of course I can, but I would prefer to do it through the project "API" (I mean the `Theme` model) and not by editing some code I am not really supposed to modify.
I merely want to make this feature available through the API. If you think that your way to do it is enough, I won't insist :)

[2021-11-18 17:51] merwok commented on #138
Overriding templates is definitely supported by django and not wrong or unclean.
It works for me, but I also understand the request for something that can be done through the admin, without changing files, and with different contents for each theme!  Let’s see what the project maintainer thinks :)

[2021-11-18 23:40] fabiocaccamo commented on #138
I agree with @merwok, and I would like to add also that it is possible to do it (per model) also using the ModelAdmin:
https://docs.djangoproject.com/en/3.2/ref/contrib/admin/#modeladmin-asset-definitions

@asiffer I understand your need, maybe that 2 fields could be added (`extra_asset_css` and `extra_asset_js`) to cover also these situations, then developers are free to decide which solution fit

[2021-11-23 12:54] fabiocaccamo commented on #117
@saymoncoppi this is surely possible, but you should open another issue for it.

[2021-11-23 21:36] fabiocaccamo commented on #138
@asiffer I keep this issue open, but at the moment it is not my intention to add support to custom css/js files.

As said, if you have some changes/improvements to purpose they are welcome.

[2021-11-23 21:53] fabiocaccamo commented on #136
@saymoncoppi I would add an option named `language_chooser_widget` with 3 options:
- **Default Select** - the current one
- **Minimal Select** - the suggested one, requires just a dynamic css class
- **Inline Menu** - this is a completely different widget and it needs a bit of work because setting the language requires interaction with the hidden form, check: `templates/admin_interface/language-ch

[2021-11-24 07:58] asiffer commented on #138
Ok thank you @fabiocaccamo, I think I will propose un PR

[2021-11-24 09:12] fabiocaccamo commented on #138
@asiffer the point is that I'm always more convinced that `custom_css` and `custom_js` fields would have more cons than pro and could become kind of black-box of problems very hard to debug. Imagine this scenario: for any reported bug I should ask if there is some custom css / js and if yes I should check if the bug is caused by those files or not, a real maintenance nightmare.

@merwok what do yo

[2021-11-24 09:30] asiffer commented on #138
Currently, `Theme` has a `css` TextField where you can put raw css. My initial wish would be to make it a FileField like `favicon` or `logo` attributes (I am not initially interested in js but maybe some people could have this need). Maybe we can define a CSSFileField with a custom `value_to_string` that will inline the css code in the fixture. In your scenario, you will then have the same output

[2021-11-24 09:35] fabiocaccamo commented on #138
The `css` field is very old and I decided to remove it for the same reasons. I only hidden it in the admin but not removed it from the model for backward-compatibility, but I'm going to definitively remove it for the next release.

[2021-11-24 09:38] asiffer commented on #138
Ok so I understand that the feature goes against the spirit of your package. We can probably close the issue.

[2021-11-24 10:11] fabiocaccamo commented on #138
Yes, probably it is better to close it.

[2021-11-24 10:11] #138 closed

[2021-11-24 10:11] #117 closed

[2021-11-24 10:12] fabiocaccamo commented on #137
@foo290 this seems to be more a `Djongo` issue.

[2021-11-24 10:12] #137 closed

[2021-11-24 15:26] merwok commented on #117
I’ve read this ticket and the commit but am still not sure what the feature is 😄
The help text only says `foldable apps` but what’s that?

[2021-11-24 15:27] fabiocaccamo commented on #117
<img width="619" alt="Screenshot 2021-11-24 at 16 27 37" src="https://user-images.githubusercontent.com/1035294/143266932-c95a4df0-7c85-405e-a010-ea1b21761239.png">

[2021-11-26 01:49] saymoncoppi opened #139 "App model order for Admin Interface"
Hello Fabio!!!
Today I saw an improvement that fits with this old suggestion.
Beyond the foldable option could the django-admin-interface offer a way to reorder classes on tree menu. Take a look
https://stackoverflow.com/questions/398163/ordering-admin-modeladmin-objects

![image](https://user-images.githubusercontent.com/22059715/140752908-888c6d82-d1d1-41f5-8fa5-f9ac28ba6ac1.png)

_Originally po

[2021-11-26 01:58] saymoncoppi commented on #115
Hello Fábio! I remembered to back here and suggest you to update the readme considering this tip:

Add this code to url.py

urlpatterns = [
path("i18n/", include("django.conf.urls.i18n")),
]
urlpatterns += i18n_patterns(path("admin/", admin.site.urls))

Tks

[2021-12-03 20:09] merwok opened #140 "Deprecation notice for default_app_config"
**Python version**
n/a

**Django version**
3.2.9

**Package version**
0.18.2

**Current behavior (bug description)**
Run an app or tests with warnings enabled, see:
[code]

**Expected behavior**
No warning

[2021-12-03 21:39] merwok commented on #139
Would be nice if this included hiding some app or specific models!

[2021-12-03 21:53] fabiocaccamo commented on #139
It would be nice to manage all this from the admin itself.

[2021-12-03 22:18] merwok commented on #139
Settings would be enough for me.  For me it’s about the app definition (for example, this project doesn’t use groups so don’t show them in admin), not appearance customization.  But I can see the other viewpoint!

[2021-12-03 22:24] fabiocaccamo commented on #139
If you only need to hide Groups you can just unregister the ModelAdmin.

[2021-12-03 22:25] merwok opened #142 "Replace travis with github actions"
Most projects have left Travis because of the management issues.
It seems that tests for PRs here are not run any more.
I could convert the config to github actions (example conversions from circleci: https://github.com/caravancoop/configstore/pull/47)

[2021-12-03 22:26] merwok commented on #139
Ah of course 😄  The app and model would still be enabled, just hidden in admin.  Ignore my message!

[2021-12-03 22:32] fabiocaccamo commented on #142
@merwok it is already in my intentions to switch from travis to GitHub actions.

I saw that there is something to use tox in the GitHub action to avoid the matrix duplication.

If you can do it I really appreciate it and then propagate it to all other django packages.

[2021-12-03 22:39] merwok commented on #142
There’s tox-gh-actions which works in many cases but has some issues (so I didn’t use it in the project I linked):
https://github.com/ymyzk/tox-gh-actions/issues/66
https://github.com/ymyzk/tox-gh-actions/issues/44

I think a strategy could be to use the matrix config to list all testenvs that are wanted, and remove them from tox config.  The `envlist` setting can list the testenv(s) to use when s

[2021-12-06 11:02] timkofu opened #143 "Grazie"
This is quite nice. Thanks.

[2021-12-06 11:03] #143 closed

[2021-12-06 20:26] merwok commented on #140
FWIW, the warning disapears when I add the full path with appconfig to INSTALLED_APPS.
Maybe that should be the documented way!

[2021-12-06 21:33] #140 closed

[2021-12-07 09:45] fabiocaccamo commented on #142
@merwok in the end I used `tox-gh-actions`, there are more pro than cons, and it is easier to maintain it on multiple packages.

[2021-12-07 09:45] #142 closed

[2021-12-23 13:28] fabiocaccamo commented on #115
@saymoncoppi https://github.com/fabiocaccamo/django-admin-interface#language-chooser-not-showing

[2021-12-23 13:28] #115 closed

[2021-12-27 15:05] fabiocaccamo commented on #93
@merwok that would work and it is very easy to do, the only thing I don'like is that it would need one more configuration step because this package would have its own urls to be added to the main url conf. Have you any idea to avoid this?

[2021-12-28 03:28] merwok commented on #93
🤔  what about…  admin extra views?  these can be defined in the base admin class and automatically used by subclasses 💪🏽

[2021-12-28 09:34] fabiocaccamo commented on #93
@merwok good idea!

[2022-01-03 14:01] saymoncoppi commented on #129
If you need help to do that pls let me know. Maybe I could help :)

[2022-01-03 14:09] saymoncoppi opened #144 "Font Size selector"
Hello everyone!
Someone already thought about adding on admin-interface a font size selector?

I see two ways to do that:
1 - only using css/js over the template, allowing users to select their preference
2 - plan to add on admin-interface settings to allow only the admin for those changes.

Simple way do handle with option n1:
https://codepen.io/webstudiosolutions/pen/WEOOPQ

What do you think?

[2022-01-03 19:26] fabiocaccamo commented on #144
@saymoncoppi frankly I never had this need, generally I control the font size using `cmd`+`+` and `cmd`+`-`.

[2022-01-03 19:38] saymoncoppi commented on #144
M2, regular user doesnt know the tricks.

But it is just a suggestion considering UI/UX and how to delivery a great standard template.

If it´s not necessary, ok! Tks for the answer :)

[2022-01-04 14:43] code-review-doctor opened #145 "Comma missing in MIDDLEWARE_CLASSES breaks things for Django <2"
The lack of comma here on line 43:
https://github.com/fabiocaccamo/django-admin-interface/blob/c9f0795a9508a21b921d291c159a0e9fdafdc1a1/tests/settings.py#L41-L46

results in implicit string concatenation, so `'django.contrib.messages.middleware.MessageMiddleware'` will get concatenated with the next line `'django.contrib.sessions.middleware.SessionMiddleware'`, resulting in Django attempting to im

[2022-01-04 15:03] fabiocaccamo commented on #145
@code-review-doctor thanks for reporting this.

[2022-01-04 15:06] fabiocaccamo commented on #129
@saymoncoppi if you want to work on this you could start from here:

[2022-01-04 15:11] fabiocaccamo commented on #144
@saymoncoppi I don't know if the current admin uses `px`, `rem` or `em`.

If it uses `rem` or `em` it should be very easy to add this feature.

I would add just a `CharField` with choices: 90%, 100%, 110%, 120% and so on...
No custom widgets that are hard to test and maintain along the time.

[2022-01-04 17:17] #145 closed

[2022-01-04 20:10] mjwalter opened #146 "Make logo / title clickable"
I'd like to make the logo / title clickable, so that it brings you back to the Django admin homepage. This is standard practice for making websites easy to navigate, and should be fairly simple to implement.

[2022-01-04 20:33] fabiocaccamo commented on #146
@mjwalter I agree!

[2022-01-05 17:31] #146 closed

[2022-01-05 17:50] fabiocaccamo commented on #146
@mjwalter you can upgrade to `0.18.4` version, thank you for the PR!

[2022-01-12 15:18] fabiocaccamo commented on #142
@merwok after the migration from TravisCI to GitHub actions, coverage reports are no more uploaded to codecov, have you any idea of what the cause could be?

[2022-01-12 15:24] merwok commented on #142
I’ve only used codecov indirectly in companies, don’t have it for my personal projects.
(I look at HTML report locally and text report in CI, with covered file omitted and missing lines reported, so I find it enough)

I think there have been a few security issues with codecov recently, so I don’t know if I would spend time to use it.

[2022-01-18 12:21] ChrisCrossCrash opened #148 "Change `font-family` from admin page"
First of all, thanks @fabiocaccamo for this wonderful admin interface! It's always one of the first things I set up when I create a new Django project, and my users love the look and feel as well.

I was wondering, would it be feasible to add a `font-family` option? It would be very nice to match the font-family of the front end with the admin page. Perhaps it could be made to work with Google Fon

[2022-01-18 12:55] fabiocaccamo commented on #148
@ChrisCrossCrash thank you, I'm glad you enjoy it!

Font customization would be surely a nice new feature *(check also #144)*.

There are different possible solutions for customizing the `font-family`, just to mention some of them:

- Google fonts
- Adobe Typekit
- Custom uploaded fonts
- Only default system font
- ...

Saying that one is better / more correct than another would be wrong, it is ha

[2022-01-18 13:34] ChrisCrossCrash commented on #148
I agree that the file upload would be a great choice. Not to complicate things, but would it be possible to add multiple font files? This would allow you to add different font weights and fallback options for file formats. For example, you add a new font "Lato", and then `Lato-400.woff2`, `Lato-700.woff2`, `Lato-400.woff`, and `Lato-700.woff` as files for that font.

I think it would still work wi

[2022-01-20 12:43] fabiocaccamo commented on #148
@ChrisCrossCrash I'm not sure about this feature, it is not easy to find a good and simple solution that fits all scenarios.
Said that, to give the total flexibility to any side-case, probably the best solution would be to support a custom css file (check #138).

[2022-01-20 13:04] ChrisCrossCrash commented on #148
@fabiocaccamo I think adding a textarea for custom CSS would be an amazing idea! That way you could simply just drop in whatever CSS you want, like:

[code]

Not to mention the customization would be limitless. No need for custom templates or anything like that. So I'm totally on board for #138.

I noticed there was some discussion about compatibility. Perhaps the text area could get some help tex

[2022-01-20 13:11] fabiocaccamo commented on #148
@ChrisCrossCrash I'm just afraid that the possibility to add custom CSS will make people less collaborative on proposing new features and reporting issues.

[2022-01-20 13:17] ChrisCrossCrash commented on #148
@fabiocaccamo That's a good point.

I'll just make a custom template when the need arises. Thanks for your consideration on this issue! I'll close it now.

[2022-01-20 13:17] #148 closed

[2022-01-20 13:21] fabiocaccamo commented on #144
@saymoncoppi `font-size` is expressed in `px` almost everywhere, it means that implementing this would be a nightmare.

[2022-01-20 13:21] #144 closed

[2022-01-20 16:26] merwok commented on #148
In an ideal world, a feature for custom CSS would be a good tool for people, letting them do site-specific things without having to redefine the base admin template, and if they find a common need (like clickable logo or dark mode) then they would still come here to request it.

I have defined a base admin template for custom CSS and JS, and I have opened tickets here!

[2022-01-21 12:38] fabiocaccamo opened #150 "Body scrolls to top when opening a related-modal."
**Python version**
`3.8`

**Django version**
`3.2`

**Package version**
`0.18.4`

**Current behavior (bug description)**
When clicking a link that opens a modal, the body scroll-top is reset to 0.

**Expected behavior**
The body should not scroll when a modal is open.

[2022-01-21 12:44] #150 closed

[2022-01-23 07:03] shourya2006 commented on #67
Its showing i18n not defined

[2022-01-23 18:04] merwok commented on #67
Please paste the exact, full error message.

[2022-01-25 17:24] fabiocaccamo commented on #67
@shourya2006 probably you're doing something wrong, it is still there:
https://github.com/django/django/blob/main/django/conf/urls/i18n.py

Anyway this is not an issue of this package.

[2022-02-14 10:20] mintyPT opened #153 "[security] Version display on all the pages"
**This is not really a bug but it's related to security.**

We recently had a security audit and something that came up was that the name/version/url of this lib was being injected into all the pages of the admin were it's being used (including the login page). The issue is that with this information, an attacker could more easily look for vulnerabilities.

With that said, my ask is quite simple,

[2022-02-14 10:27] fabiocaccamo commented on #153
@mintyPT I don't catch your point, you could have a project running on python 2.7 + django 1.8 or python 3.10 + django 4.0 both using the latest version of this lib, I don't see the connection between it and a check for vulnerabilities.

*(the injected version is the library version and not python/django version, which could be dangerous to expose)*

[2022-02-14 11:22] mintyPT commented on #153
My point is: A good practice is to never disclose the version of anything: nor python, django, nginx or any lib. We never know how something might be exploited and as such, a disclosed version makes it easier for an attacker to find the source code online and look for vulnerabilities. Even worse, if it's something used massively (like django), it's as simple as going to a vulnerability database.

[2022-02-14 11:28] fabiocaccamo commented on #153
@mintyPT you convinced me, what do you think about keeping it only if the user is logged-in? In this way I have to change only the template tag.

[2022-02-14 11:29] merwok commented on #153
On the other hand, version can be easy to guess (compare checksums of some js file with records of same file in various versions), so hiding version number could provide a false sense of security and not push people to apply more effective techniques (such as updating).

[2022-02-14 11:47] mintyPT commented on #153
@fabiocaccamo If the user is logged in it's ok. After all, I guess if an attacker accessed the admin, it doesn't matter anymore.  So, I would be awesome to remove from the template to prevent that bit of info to be publicly visible.

@merwok I fully agree with you! Regularly updating is the thing to do, but in practice it is not always the case. So in this particular situation, the question is: do

[2022-02-14 11:51] mintyPT commented on #153
Are there other places where this info is visible publicly?

[2022-02-14 20:05] fabiocaccamo commented on #153
Probably in some third-party js file.

[2022-02-15 15:20] mintyPT commented on #153
I did some looking into the code. The sole situation I found was this kind: `{% static 'admin/css/responsive.css' %}?v={{ version }}`

What is the purpose of adding the version here? Is it meant for caching purposes?

- - -

Honestly, seeing the version here without context, doesn't shock me too much but, I would still remove/change it (nice to have). For this reason, I looked into the code and an

[2022-02-15 15:37] merwok commented on #153
The version tag is certainly there for cache busting when using default static file storages and basic CDN configuration.
It would not be necessary with more advanced configs; could be made controllable with a setting?

[2022-02-16 08:07] mintyPT commented on #153
@merwok I looked at ManifestStaticFilesStorage. I guess the responsibility should be left to the base django instead of in a lib or is that a good practice?

@fabiocaccamo Some of the stuff you mentioned has/will be taken care of that is why I started to look into this in the first place.

So in light of both of those comments, I will go ahead, remove the info discussed and open a PR. If it is acc

[2022-02-18 17:41] Sam231221 opened #155 "Favicon and logo work for the very first form submit only!"
**Python version**
3.9

**Django version**
4.0

**Package version**
0.18.6

**Current behavior (bug description)**
  There's an issue generated about the image format is not correct(This works fine for the very first form submit only). Even though correct and requested image size is submitted, the field throws error to me.

**Expected behavior**
?

[2022-02-19 23:18] fabiocaccamo commented on #155
@Sam231221 please provide more useful informations and the steps to follow to reproduce the bug you reported.

[2022-02-21 08:24] #155 closed

[2022-02-21 12:34] Sam231221 commented on #155
There's some issue with uploading favicon and logo. When you first upload favicon and click on the save button, It works fine. Next time when I revisit the theme and click on the save button, the form throws me errors. Here's what I got:

![Capture2](https://user-images.githubusercontent.com/70689865/154956144-c10e4445-7673-4c41-b3a7-64ac8e7772b2.PNG)

![Capture](https://user-images.githubusercont

[2022-02-21 12:38] Sam231221 commented on #155
I have send preview of errors in Github.

On Mon, 21 Feb 2022, 2:10 pm Fabio Caccamo, ***@***.***>
wrote:

[2022-02-21 12:49] merwok commented on #155
The error message tells you what the problem is: this package relies on file extensions (a windows concept) to determine if the uploaded files have a valid type.  There could be a different choice (check the file contents, like what’s done on linux), but this one makes sense as most web servers will rely on the file extension to serve the uploaded files with the right content-type header.

So in s

[2022-02-21 13:57] Sam231221 commented on #155
The point to be noted is that I had uploaded images with the '.png' extension.  And that was what I got.

[2022-02-21 14:00] fabiocaccamo commented on #155
@Sam231221 this package doesn't do anything special with uploaded files, are you using the default storage or a custom one?

[2022-02-21 14:09] Sam231221 commented on #155
I am using the default storage.

[2022-02-21 17:47] fabiocaccamo commented on #155
@Sam231221 could you check the path that is stored in the database please?

[2022-02-24 09:26] fabiocaccamo commented on #153
@mintyPT you can upgrade to `0.18.7` version.

[2022-02-24 09:26] #153 closed

[2022-02-24 09:35] felixcheruiyot opened #156 "Provide ability to auto-complete or type-ahead all select fields"
As the data grows, when filling a form with related fields, Django admin becomes very painful because it is hard to find a record or search without an auto-complete or type-ahead. Can you provide pointers on how to go about this if any? I'd be happy to help with the implementation.

Thank you
![autofill](https://user-images.githubusercontent.com/1054590/155497945-35b7c836-40eb-4b9e-a4c1-0f4a60b980

[2022-02-24 09:40] fabiocaccamo commented on #156
@felixcheruiyot you can use [`autocomplete_fields`](https://docs.djangoproject.com/en/4.0/ref/contrib/admin/#django.contrib.admin.ModelAdmin.autocomplete_fields) option.

[2022-02-24 09:42] felixcheruiyot commented on #156
Thank you so much. Never knew this existed. I tried it and it works. My problem is solved.

Thanks.

[2022-02-24 09:42] #156 closed

[2022-03-01 13:34] fabiocaccamo commented on #93
@merwok do you think it is possible to use admin extra views without extending `django.contrib.admin.AdminSite` ?

[2022-03-01 14:12] merwok commented on #93
Yes, the extra views are defined on Admin subclasses, not AdminSite.
This project could provide a mixin compatible with admin, and/or a ModelAdmin subclass to be used as base class in projects.

[2022-03-01 14:15] fabiocaccamo commented on #93
Looking at PR #157 this issue will be solved at 95% without adding extra configuration.

[2022-03-01 14:37] merwok commented on #93
Indeed, using CSS variables to let the browser do the templating in truly static files is a great solution!

[2022-03-08 08:32] fabiocaccamo commented on #142
@merwok FYI I published an action for defining a matrix like the following one directly in the GitHub workflow: https://github.com/marketplace/actions/create-matrix-action

[code]

Any feedback/contribution is appreciated.

[2022-03-08 12:03] merwok commented on #142
I like the idea of using strings to define matrix lines!
I don’t see a `matrix.json` file in the action repo or this one, so that part is confusing.

(Minor feedback: `cat` is used to concatenate files, not stream one file — [UUOC](https://en.wikipedia.org/wiki/Cat_(Unix)#Useless_use_of_cat) 😉)

[2022-03-08 12:39] fabiocaccamo commented on #142
The `matrix.json` file is generated by the workflow [script](https://github.com/fabiocaccamo/create-matrix-action/blob/main/script.py) on the fly, only to be able to read the generated matrix using `${{fromJson(needs.create_matrix.outputs.matrix)}}` in the next step. (check [here](https://github.com/fabiocaccamo/django-admin-interface/blob/master/.github/workflows/test-package.yml#L42)).

Probably

[2022-03-08 13:53] merwok commented on #142
GitHub Actions don’t have to save everything in env vars like other CI systems, they have the nice `output` system to pass data between jobs!

For `cat`, the wikipedia article I linked discusses alternatives.

[2022-03-08 14:23] fabiocaccamo commented on #142
I compute the matrix json in the action `script.py` file, do you know if it is possible to set the output variable directly from inside the script?

[2022-03-08 14:43] merwok commented on #142
If the script prints its output to stdout with the right `::thing` prefix, the data should be captured as an output!

[2022-03-08 18:10] #93 closed

[2022-03-08 19:18] merwok commented on #93
Quite nice to see requests to CSS files with `304 Not Modified` responses 🙂
The remaining style and links takes one screenful, that’s not too bad.

[2022-03-10 11:36] fabiocaccamo commented on #142
@merwok done: https://github.com/marketplace/actions/create-matrix-action

[2022-03-10 11:39] merwok commented on #142
Ah that’s great!  Thank you for making that action!

[2022-03-10 12:48] merwok commented on #142
I quite like it!  https://github.com/caravancoop/configstore/runs/5495913834

Wonder if something can be done to make the docker image pre-built (22s to build now)

[2022-03-10 13:00] fabiocaccamo commented on #142
Maybe caching the output matrix using the matrix input as key?

[2022-03-18 13:46] smutrux opened #158 "Selected module doesn't round corners"
**Python version**
3.10

**Django version**
4.0.3

**Package version**
0.19.0

**Current behavior (bug description)**
The corner radius for the selected module is always 0, even if rounded corners is selected
![image](https://user-images.githubusercontent.com/80628317/159014224-d772bb5d-2572-477e-a857-a1980cce1e66.png)

**Expected behavior**
The corner radius matches the radius of the module heade

[2022-03-28 07:57] fabiocaccamo commented on #158
This is just an highlighted background color for the selected item row, I think it is correct that it never has rounded corners, just like even rows.
Looking at your screenshot, I think you should probably use a lighten color.

[2022-03-28 07:57] #158 closed

[2022-04-05 06:58] anust opened #159 "I want to make django-admin interface on React-Material UI,"
please guide/ tell a way out how can I convert all the Django-admin pages in react front end.

[2022-04-05 09:22] fabiocaccamo commented on #159
you should rewrite the whole admin using React-Material UI before and you can use css variables exposed by `django-admin-interface` for dynamic values.

[2022-04-05 09:22] #159 closed

[2022-04-05 09:29] anust commented on #159
plz elaborate more, admin comes with default migrations. isnt it?

[2022-04-06 04:37] anust commented on #159
ok, my app is like backend is on django and front end is on React, like this https://www.section.io/engineering-education/react-and-django-rest-framework/
what I want to do is, make the default admin panel and its functionality appear in my react theme. Is it possible? if so how?

[2022-04-06 12:31] merwok commented on #159
The django admin is not a django API with a separate frontend, it’s django HTML views.  To replace it with a react app, you would need to write (or find) a package that exposes all admin functionality as API views, then write all client code to connect to that and display things.  django-admin-interface would not help you then, as it works with the django admin HTML views.  So it’s still not clear

[2022-04-13 15:26] fabiocaccamo commented on #142
@merwok have you found a way to cache the docker image / output matrix?

[2022-04-13 16:06] merwok commented on #142
Haven’t had the opportunity to look at it.
Could have a look at https://github.com/marketplace/actions/docker-layer-caching

[2022-05-06 12:45] fabiocaccamo opened #160 "Add option for remember fieldsets.collapse state (visible/hidden)."
<a href="https://dashboard.polar.sh/fabiocaccamo/django-admin-interface/issues/160">
<picture>
  <source media="(prefers-color-scheme: dark)" srcset="https://dashboard.polar.sh/api/github/fabiocaccamo/django-admin-interface/issues/160/pledge.svg?darkmode=1">
  <img alt="Fund with Polar" src="https://dashboard.polar.sh/api/github/fabiocaccamo/django-admin-interface/issues/160/pledge.svg">
</picture

[2022-05-06 22:25] juanulis3s opened #161 "Raw id fields modal is not working"
**Python version**
3.9.3?

**Django version**
3.2.9?

**Package version**
0.19.0?

**Current behavior (bug description)**
In admin.py when a field is set to use raw id fields the modal or pop up loads a login session. And the close the session.
Please review the video.

**Expected behavior**
The pop up or modal should load the foreign key table.

https://user-images.githubusercontent.com/14265252/

[2022-05-08 11:20] fabiocaccamo commented on #161
This is really strange.

- Have you followed correctly all the Installation steps?
  https://github.com/fabiocaccamo/django-admin-interface#installation=

- Are there errors in the console?

- Could you tell me the classes of the element you are clicking?

[2022-05-10 23:11] juanulis3s commented on #161
Hi thank you for your response.

I did follow installation correctly. Everything is working fine just that issue.

There are no errors in the console, only the following image after trying to login.
![Screen Shot 2022-05-10 at 18 00 23](https://user-images.githubusercontent.com/14265252/167738505-dc3b8a49-4f51-4e38-8be0-b7e25f0c3227.png)

Firefox console display:
Content Security Policy: The optio

[2022-05-11 07:48] fabiocaccamo commented on #161
The error you show doesn't seem to be related to this package, you should check your django settings.

Have you run `python manage.py collectstatic --clear --noinput` ?

[2022-05-18 09:47] fabiocaccamo commented on #161
@juanulis3s any update?

[2022-05-18 11:34] d3QUone opened #162 "Modal windows doesn't work properly in Django 3.2"
**Python version**
3.8.12

**Django version**
3.2.13

**Package version**
0.19.1

**Current behavior (bug description)**
- Modal is aligned to the left
- Modal is very small, we can't move or resize it
- No controls on the modal
- Background is black

<img width="650" alt="Снимок экрана 2022-05-18 в 14 23 34" src="https://user-images.githubusercontent.com/4642885/169028796-5b04d603-595d-430e-afdd-

[2022-05-18 13:35] fabiocaccamo commented on #162
@d3QUone I'm personally using the latest version with django 3.2 and everything works well, could you ensure that:
- You have run `python manage.py collectstatic`
- You have run `python manage.py migrate admin_interface`
- It is not a caching issue (try also to access the admin using another browser)

[2022-05-18 16:06] d3QUone commented on #162
@fabiocaccamo thank you, `collectstatic` solved the problem for us!

[2022-05-18 16:06] #162 closed

[2022-05-20 20:51] #161 closed

[2022-05-28 08:59] rachit1601 commented on #129
Suggestion: Just add another color selector for background. Thats it

[2022-06-01 19:16] smunoz-ml opened #163 "Collapsable Filter Menu"
Hi!

Would it be possible to add a button to hide the filters the same way the left menu is hidden? I have faced situations where the users won't use the filters on a daily basis and, in small screens, the filters fill an important piece of screen and they have to scroll horizontally to view the data in the list.

Thank you for this amazing interface! 🙌🏻

[2022-06-02 14:15] fabiocaccamo commented on #163
@smunoz-ml interesting feature!

[2022-06-20 19:46] djangomarmaris commented on #67
add this path("i18n/", include("django.conf.urls.i18n")),   central urls.py

[2022-07-08 12:41] vibhanshu2001 commented on #84
@Hamza-Lachi can you be more specific how your error got resolved? Can you share your code snippets?

[2022-07-13 03:43] rikengct commented on #163
i too have longed for this option for the same reasons. would be VERY useful.

[2022-07-14 06:07] saymoncoppi opened #164 "{% extends "admin/base_site.html" %} loses header, sidemenu and breadcrumb"
Hello Fabio!
How can I extend {% extends "admin/base_site.html" %} on intermediate page for a custom action to show the admin side menu?
I used that previous command and got the style but lost the header, sidemenu and breadcrumb.
Do you know how to apply those things?

tks

[2022-07-15 08:56] fabiocaccamo commented on #164
@saymoncoppi have you tried this?
https://github.com/fabiocaccamo/django-admin-interface#custom-base-sitehtml=

[2022-07-20 12:46] fabiocaccamo commented on #164
@saymoncoppi any update?

[2022-07-26 20:14] yatahaze opened #165 "Left/right scrolling broken with django-import-export"
I'm not sure which repo to open this issue on, but when using [django-import-export](https://github.com/django-import-export/django-import-export), after importing it takes you to a big table that shows the before & after. With this theme enabled, there is no ability to scroll left and right to see those changes.

Issue on the other side, just in case: https://github.com/django-import-export/djang

[2022-07-27 05:43] fabiocaccamo commented on #165
Hello @yatahaze
thanks for reporting this, have you any public demo for checking the issue quickly?

[2022-07-27 14:16] #164 closed

[2022-07-27 22:58] yatahaze commented on #165
Unfortunately I do not, but i could save html from a project of mine if that would help? Or I could inspect the code but I'm not sure what I'd be looking for...

[2022-07-28 07:55] fabiocaccamo commented on #165
@yatahaze maybe just the html page is enough to debug the css quickly. I think a specific overflow css rule could easily solve this.

[2022-08-02 16:20] jonlev1n opened #167 "hashlib.md5(...) throws server error in FIPS enabled systems"
I have the admin interface installed on my application, which is running on a FIPS-enabled system. The system then complains about the md5 implementation (see trace below). I have a workaround for now, manually adding the `usedforsecurity=False` kwarg on line 83, but this is not ideal since my normal method of monkey patching the module does not seem to be working.

Anyone else run into this issue

[2022-08-02 18:25] merwok commented on #167
The `usedforsecurity` parameter is intended for this kind of use case, it should be easy to add it (Python 3.9+).
Or change the hash algo to be sha224 or something allowed by FIPS!

[2022-08-02 19:05] jonlev1n commented on #167
Agreed. Created pr #168 which is identical to my local changes.

[2022-08-02 19:38] merwok commented on #167
You should keep the issue open for discussion!

I checked the readme and this project supports older versions than 3.9, so the parameter can’t be used unconditionally.

[2022-08-02 20:36] jonlev1n commented on #167
Ah, I see. I wouldn't call myself a python expert here so I guess I just got lucky with the version I'm using. I'll reopen just in case anyone runs into the same issue as me and comes here looking.

One possibility would be to wrap in a try/except in the pr, or as you suggested to use a different hashing algorithm.

If I'm understanding the source correctly, the offending function is just called f

[2022-08-03 08:04] fabiocaccamo commented on #167
@jonlev1n thanks for reporting this and for the PR.

As you can see from the PR status checks, the CI fails due to the unsupported `usedforsecurity` argument:
[code]

In this case, considering that `usedforsecurity` option has been introduced only in `Python 3.9` I think the best/only backward-compatible solution is to change the hash algorithm (as pointed out by @merwok).

[2022-08-03 12:01] jonlev1n commented on #167
@fabiocaccamo No problem. I originally made the PR without realizing that argument was not available. I updated the PR just a few minutes ago using `sha224(...)` in place of `md5(...)` -  I will be interested to see that that passes the CI tests. I updated in place on my staging system which seems to be working ok, and I realize that is not worth much other than a quick sanity check.

Thanks again

[2022-08-04 12:43] fabiocaccamo commented on #167
@jonlev1n thank you very much for the PR, you can upgrade to `0.19.2` version.

[2022-08-04 12:43] #167 closed

[2022-08-05 13:13] myst-darkfire commented on #84
I'm facing same problem can you please help me out!!!!

[2022-08-05 14:41] merwok commented on #84
It is not possible to debug a problem with zero information about it!

[2022-08-25 10:14] fabiocaccamo commented on #165
@yatahaze have you found a CSS fix for this overflow issue?
There is surely some `django-import-export` css class that can be used to fix this.

[2022-08-25 15:54] yatahaze commented on #165
I do! Is there a way I can send it to you privately in case there's something revealing in it?

[2022-08-25 16:41] fabiocaccamo commented on #165
@yatahaze sure, my email is public on my [profile](https://github.com/fabiocaccamo) page.

[2022-08-25 17:04] yatahaze commented on #165
Sent!

[2022-08-29 15:03] kfirufk opened #169 "Cannot read properties of undefined (reading 'pathname')"
**Python version**
3.9.13

**Django version**
4.1

**Package version**
0.20.0

in the admin page i'm trying to add a row to the table MaintenanceServiceSupplierContact that has a foreign key connection to a different table.
this is the model for that table:

[code]

here i click the + sign to add a new service supplier, this is the model for MaintenanceServiceSupplier

[code]

so after  I clicked

[2022-08-29 17:42] fabiocaccamo commented on #169
@kfirufk thank you for reporting this.
- If you disable the related modal functionality, the problem is solved?
- Could you paste the whole html of the button that when clicked open the modal window please?

[2022-08-29 21:26] kfirufk commented on #169
i couldn't quite understand the question, you mean not clicking plus inside a table and adding the row? in this scenario the problem not occur.

i was able to reproduce the problem in any foreign key that i have. whenever i don't select something and click + to add a new item and try to save, i get this exact error.

sure..

[code]

btw i noticed that the save works, the only problem is that it do

[2022-08-29 22:17] merwok commented on #169
Related modal is a setting to use modal (window section shown on top with CSS) when creating / editing a related object in an admin form, instead of a popup (full separate window controlled by the browser or OS, bad user experience):

![admin modal](https://user-images.githubusercontent.com/635179/187308553-3cc6ce6f-29a2-47fe-84a1-90aedac239fc.png)

![related](https://user-images.githubusercontent

[2022-08-30 00:46] kfirufk commented on #169
ah sorry i'm new to django this is my first project, you meant to edit the theme and disable "Related Modal" there
did that, it's back to it's old self with a popup window and it works properly.

[2022-08-30 06:35] kfirufk commented on #169
I created a new project simply for this cause and the problem is reproduced easily, the only extra plugin that is installed it's the django-admin-interface, i created one app, this is the model:

[code]

this is the admin:

[code]

I tried testing it in safari on mac, and chrome on mac and linux, tried running the app on mac and on linux, all provide the same results.

[2022-08-30 09:19] fabiocaccamo commented on #169
Thank you again, maybe it's a django 4.1 issue, I will test it as soon as I can.

[2022-08-30 12:15] fabiocaccamo commented on #169
@kfirufk could you try do to the same test with django 3.2 please?

[2022-08-30 15:10] kfirufk commented on #169
it works with django 3.2

[2022-09-02 08:52] cristianosavoia opened #170 "Dont work whitch django-tenants 3.4.4"
**Python version**
3.10

**Django version**
4.1

**Package version**
django-admin-interface 0.20.0

**Current behavior (bug description)**
after install django-tenants 3.4.4 no migrate the error is:

</body>
</html>

![image](https://user-images.githubusercontent.com/101615085/188102479-03f73ec8-8407-4116-b3d2-0e0433290a0a.png)
?

[2022-09-02 09:06] fabiocaccamo commented on #170
@cristianosavoia what do you mean by "no migrate"?
If you don't migrate you don't have the db tables ...

[2022-09-02 21:47] cristianosavoia commented on #170
I have the tables everything ok, it was working perfect, however when installing django-tenants I do the migrate the error happens because of the admin interface, if I remove the adim inteface everything is ok. error this must be an incompatibility with the django-tenant module?

[2022-09-02 21:54] cristianosavoia commented on #170
the error happens when I make the migrate prevent continue

[2022-09-03 08:18] fabiocaccamo commented on #170
@cristianosavoia why you closed this? Did you find a solution?

[2022-09-05 19:20] cristianosavoia commented on #170
no, sorry unintentionally. reopen
Would you help me?

[2022-09-05 22:16] merwok commented on #170
We can’t understand what this means, can you rephrase?

[2022-09-10 01:47] cristianosavoia commented on #170
Using admin interference normally occurs after installing django-tenants the error shown above occurs. It seems to me that there is some bug to use the two together.

[2022-09-11 00:40] merwok commented on #170
Can you publish a demo somewhere that reproduces the code?
Otherwise it’s hard to help here.

[2022-09-22 12:00] nedinfra commented on #169
Same issue with Django 4.1
Uncaught TypeError: Cannot read properties of null (reading 'dismissAddRelatedObjectPopup')  at popup_response.js:13:16
Pop up is not closing after save

[2022-09-25 19:27] fabiocaccamo commented on #170
@cristianosavoia any feedback?

[2022-09-27 07:48] derzinn commented on #139
Just for the record: [django-modeladmin-reorder](https://github.com/mishbahr/django-modeladmin-reorder) works without problems in Django 4.1 and Python 3.10.

This package currently has no active maintainers, but an ownership change is [in progress](https://github.com/mishbahr/django-modeladmin-reorder/issues/45#issuecomment-1193968984).

[2022-09-27 07:51] fabiocaccamo commented on #139
@derzinn cool, thank you for the suggestion!

[2022-09-27 07:54] fabiocaccamo commented on #139
@derzinn I see the library you suggested has not been updated since many years and it has not tests, anyway it's a good reference for adding this feature directly into `django-admin-interface`.

[2022-09-27 08:15] derzinn commented on #139
Yes, the codebase is a "little bit" outdated. :grin:  But runs fine.

And it is very useful, for example:

[code]

Including features like cross-linking and renaming models would be really cool! :+1:

[2022-09-27 08:23] fabiocaccamo commented on #139
@derzinn indeed!

What do you think about making this configuration editable directly in the admin using json field? (it would require to add `django-json-widget` dependency).

[2022-09-27 08:26] fabiocaccamo opened #172 "Split functional settings from Theme settings."

[2022-09-27 08:39] fabiocaccamo opened #173 "Add fieldsets collapsed default value option."
**Ideas:**
- Default fieldsets collapsed value configured in `settings`.
- Default fieldsets collapsed value configured in the admin `Theme` options.
- Strictly Related to #160

[2022-09-27 08:40] derzinn commented on #139
@fabiocaccamo Great idea! :+1:

So a drag-and-drop widget can be added later to sort and hide existing apps/models right from the interface.

[2022-09-27 14:34] merwok commented on #139
Django 4.1 lets us reorder models in the admin!  https://docs.djangoproject.com/en/4.1/ref/contrib/admin/#django.contrib.admin.AdminSite.get_app_list

[2022-09-27 15:10] merwok opened #174 "Make currently active list filters more visible"
On a list page with many filters shown and the dropdown option active, admin users have a hard time finding out which filters are currently active, in order to remove one for example if the current selection has no results.  They would have to go through the list and determine if the value visible is the default or not, so they end up clearing all filters (it’s the only action displayed) and re-bu

[2022-09-27 15:21] merwok opened #175 "Allow scrolling list filter box"
On a page with many objects and many filters (even with dropdown option active), the admin users have noticed that it’s not possible to scroll down the filter box until the rest of the page has scrolled to the bottom.

I am considering CSS changes to make the box scrollable (combination of max-height and overflow maybe?), or template changes to define collapsible sections (harder to integrate with

[2022-09-27 15:27] fabiocaccamo commented on #175
Cool, nice catch!
This could be easily fixed with CSS only.

[2022-09-27 15:29] fabiocaccamo commented on #139
Oh nice, didn't know about that.
Do you think we can close this issue?
Or this app should use the `get_app_list` method for better integration?

[2022-09-27 15:34] fabiocaccamo commented on #174
This is another good
- A: I like this option, but I'm pretty sure that it's not possible to do that with CSS only.
- B: In terms of usability it looks a little bit wrong to me ...
- C: This would be cool, must be sure that the layouts work in different side cases (eg. values too long)

I'm for `A + C`, if you can contribute it would be great.

[2022-09-27 15:46] fabiocaccamo commented on #173
That would be great, and since there is JS involved for doing this I would add also:

👉 Storing locally each fieldset state (per model class), the cache key could be f"{app_name}-{model_name}-{fieldset_name}". #160

[2022-09-27 15:47] fabiocaccamo opened #176 "Drop `Python <= 3.7` and `Django <= 2.1` support."

[2022-09-27 16:01] merwok commented on #174
Yeah, A is custom template and CSS!

Let me make a first commit to add A (template + CSS + theme option), then work on C (no JS, custom template, if needed template tag, CSS for the chip styling, theme option)

[2022-09-27 16:03] merwok commented on #139
I would say that defining order of models is part of making the admin adapted to specific project needs, so it’s fine to do it with code and have it be the same for all themes.  What do other people think?

[2022-09-27 16:04] merwok commented on #175
Can you let me know if you’re able to address this easily, or if I should work on a PR?

(I tried very quickly some overflow/scroll-behavior/max-height option combinations without success, but could spend more time)

[2022-09-27 16:07] merwok commented on #173
I’ll make a PR with the django script modified.

I will look at per-user state persistence in a separate commit.  Is there an easy way to get the theme option from JS?  Output it as a `data` attribute from a template?

[2022-09-27 16:19] fabiocaccamo commented on #175
I can do it!

[2022-09-27 16:22] fabiocaccamo commented on #173
I don't think we need a per-user state persistence, I would store them using local storage (already did a similar thing for [foldable apps](https://github.com/fabiocaccamo/django-admin-interface/blob/master/admin_interface/static/admin_interface/foldable-apps/foldable-apps.js) feature).
Exposing theme options as JS variables could be good and useful thing.

[2022-09-27 17:31] merwok commented on #173
I meant that local storage is per-browser persistence, not adding a model with foreign key to user!

[2022-09-27 17:41] merwok commented on #173
I found the current technique in a template:
[code]

Easy to use the same.

[2022-09-28 03:35] merwok commented on #175
I had forgotten about the sticky list filter option!
Disabling it means that the whole page now scrolls, main list and filter sidebar.  It’s all I need.

Feel free to close this!

[2022-09-28 06:05] fabiocaccamo commented on #175
So is this a sticky filter bug?

[2022-09-28 15:08] merwok commented on #173
I don’t understand this sub-part of the discussion!

You requested to persist current collapsed state in local storage.  I said I don’t need that for my project but will add it.
Then I called that per-user persistence by mistake instead of per-browser, I wasn’t making a different proposal 🙂

[2022-09-28 15:09] merwok commented on #175
You’re right, depending on the viewport height and the main section height, there should still always be an easy way to browse a sticky filter section.

[2022-09-28 16:04] fabiocaccamo commented on #173
Ahh ok, now I understand!

[2022-09-29 07:37] #173 closed

[2022-10-03 03:07] Mesake94 opened #179 "Ensure no HTTP hyperlinks are used"
**HTTP hyperlinks in admin/base_site.html**

Calling resources over HTTP from within a HTTPS application could remove the TLS protection and potentially expose sensitive information in plain text.

[2022-10-03 07:17] fabiocaccamo commented on #179
@Mesake94 please, list the resources that are loaded over http.

[2022-10-03 15:13] merwok commented on #179
The template uses the template tag `static` to generate links, so if http links are generated it’s a problem in your site configuration (or reverse proxy config, or server config).

[2022-10-03 15:58] fabiocaccamo commented on #179
@merwok thank you for the support!

[2022-10-03 15:58] #179 closed

[2022-10-03 21:11] Mesake94 commented on #179
Actually. I recently had a pen test on one of my projects and this was picked up. There are HTTP hyperlinks in base_site.html template.

[2022-10-03 21:29] fabiocaccamo commented on #179
As you can see at line 17 there is the logo svg background image, the `http://` protocol appears in the svg xml attributes, no request is made.

[2022-10-03 21:45] Mesake94 commented on #179
Thanks @fabiocaccamo . It was not really a security vulnerability but a best practice issue.

[2022-10-03 23:24] merwok commented on #179
What best practice specifically?  XML namespaces are opaque identifiers, it’s not possible to change the URL scheme.

[2022-10-06 08:00] fabiocaccamo commented on #173
@merwok have you planned to work on #160 in the next days?

I ask it to decide if publishing a new release with the latest features/bug-fixies today/tomorrow or waiting for this feature too.

[2022-10-06 12:41] fabiocaccamo commented on #170
@cristianosavoia the message in screenshot you provided tells about a missing relation, and since this library model doesn't have any relation, I'm pretty sure that `django-tenants` creates relations between the tenant model and all other models.

If you have installed `django-admin-interface` after you already had `django-tenants` installed and configured, probably you should also run `django-ten

[2022-10-06 12:41] #170 closed

[2022-10-06 12:47] fabiocaccamo commented on #165
@yatahaze sorry for the late feedback.

What you sent me via email is not enough for debugging this problem, you should:
- Go to the admin page where there is the problem
- Save the admin page with the problem (saving the page you should have an html file and a directory containing all the assets used by the page)
- Zip the page and the assets folder and send them with me via email

[2022-10-06 14:02] merwok commented on #174
Reopen this to add option for item C?

[2022-10-06 14:13] merwok commented on #173
If it’s very easy to make a release, then you could ship what’s already done now, then another one soon including the changes for #160 and #174 .  If it’s trouble, then you could wait to release next week with everything.

[2022-10-06 14:53] merwok commented on #175
Fixed by 990db6f !

[2022-10-06 14:53] #175 closed

[2022-10-06 15:32] fabiocaccamo commented on #136
@saymoncoppi added support to custom language chooser style in `0.21.0` version.

If you need a style that is not supported you must override the template: `templates/admin_interface/language-chooser.html`.

[2022-10-06 15:32] #136 closed

[2022-10-06 15:33] fabiocaccamo commented on #174
Feature available by upgrading to `0.21.0` version.

[2022-10-06 15:33] #174 closed

[2022-10-06 17:48] merwok opened #181 "Show active filters at the top of the sidebar with clear button"
On a list page with many filters shown and the dropdown option active, admin users have a hard time finding out which filters are currently active, in order to remove one for example if the current selection has no results. They would have to go through the list and determine if the value visible is the default or not, so they end up clearing all filters (it’s the only action displayed) and re-bui

[2022-10-07 05:48] RajendraGupta22 opened #182 "Internalization : language code change issue"
**Python version**
3.8.10

**Django version**
4.0.4

**Package version**
0.20.0

**Current behavior (bug description)**
defined models doesnt get converted to the change language
only in build models like 'User, Group' get converted to change language
the models defined in the new app doesnt get converted

**Expected behavior**
need to convert everything to change language

[2022-10-07 07:28] fabiocaccamo commented on #182
@RajendraGupta22 this application doesn't manage translations, it just offers an admin control for switching the language by activating the selected one.

[2022-10-07 07:28] #182 closed

[2022-10-07 07:29] fabiocaccamo commented on #181
I totally agree, the list filter would be much more usable. Having this feature would be great!

[2022-10-07 09:13] fabiocaccamo commented on #165
Fixed in de2979219e4fcf892bd76cba0dd192fa5e0ad5bd

[2022-10-07 09:13] #165 closed

[2022-10-07 09:21] fabiocaccamo commented on #165
@yatahaze how did you added this?

<img width="323" alt="Screenshot 2022-10-07 at 11 20 54" src="https://user-images.githubusercontent.com/1035294/194520108-043b5c2e-fe4a-4b08-9504-9e316e0f535c.png">

[2022-10-07 11:55] nedinfra commented on #169
Hi @fabiocaccamo ,

Thanks it worked !
Do not forget to collectstatic when updating to 0.21.0 ( popup_response.js need to be update)

[2022-10-07 13:52] merwok opened #184 "Refresh translations + add CI check"
I recreated translations last week and noticed many changes.

Files should be regenerated so that translators can update translations.
I will contribute French!

[2022-10-07 14:26] fabiocaccamo commented on #184
I would be nice to automate this with a GH workflow.

[2022-10-07 14:38] merwok commented on #184
Actually I think that translations should be updated by PRs adding new translatable strings, just like migrations.
There is a small drift now, it can have a one-time correction, then new PRs can have more vigilance (using a checklist or an automated checks).

[2022-10-07 15:33] yatahaze commented on #165
Good question. I thought it was part of your theme? Haha

[2022-10-07 15:41] fabiocaccamo commented on #165
It's probably a new django feature, didn't know about it!

[2022-10-07 15:59] merwok commented on #165
Is that a filter for list filters??

Haven’t seen anything about that in 4.0 or 4.1 release notes.  Can you share the admin config for this?  (and your installed apps to see if it isn’t something third-party)

[2022-10-07 16:31] yatahaze commented on #165
The filter is only for the sidebar on the left side of the screen to narrow down the list of models. It's not super useful because the headers stay behind after filtering. So if you have a lot of apps you still have to scroll a ton. (Maybe that could be fixed with this theme? :smiley:)

[2022-10-07 16:48] fabiocaccamo commented on #165
@merwok it's a filter for the apps, already in my plans.

[2022-10-07 16:57] fabiocaccamo commented on #184
True, but in the end they are always forgotten. Maybe some automated CI checks would be useful.

[2022-10-10 13:30] fabiocaccamo commented on #184
Maybe this could be done using [pre-commit](https://pre-commit.com/).

[2022-10-11 17:32] ps78674 opened #185 "welcome-msg duplicated"
**Python version**
3.10.7

**Django version**
3.2.14

**Package version**
0.21.0

**Current behavior (bug description)**
The welcome message is duplicated.
![image](https://user-images.githubusercontent.com/31385755/195160264-742ea88c-4079-4bb0-901b-67c89f907ca8.png)
![image](https://user-images.githubusercontent.com/31385755/195160314-66881193-d423-4c99-8cb9-7b6816f85080.png)

**Expected behavior